:root {
  --primary: oklch(65% 0.142 268.67);
  --primery-transparent: oklch(69% 0.185 268.67 / 0.72);
  --primary-bg: linear-gradient(110deg, 
    oklch(60% 0.19 265) 0%, 
    oklch(66% 0.175 268) 25%,
    oklch(63% 0.18 272) 65%,  
    oklch(60% 0.19 276) 100%);
  --rim-light:oklch(88% 0 0 / 0.3);
  --glow: oklch(100% 0 0 / 0.22);
  --success: oklch(65% 0.12 174);  


  color-scheme: only dark;
  --gray-10:0% 0 0 ;
  --gray-15:22% 0 0 ;
  --gray-25:35% 0 0 ;
  --gray-95:100% 0 0 ;
  --primary-shadow: oklch(37% 0.17 268.67);
  --bg-gray-15: linear-gradient(135deg, oklch(15% 0 0) 0%, oklch(18% 0 0) 35%, oklch(12% 0 0) 100%) ;
  --tab-indicator-bg: linear-gradient(290deg, oklch(8.5% 0 0 / 0.5) 0%, oklch(8.5% 0 0 / 0.4) 65%, oklch(8.5% 0 0 / 0.35) 100%);
  --border: linear-gradient(135deg, oklch(28% 0 0) 0%, oklch(40% 0 0) 25%, oklch(32% 0 0) 100%);
}


:root:has(#theme-toggle:checked) {
  color-scheme: only light; 
  --gray-10:100% 0 0 ;
  --gray-15:95% 0 0 ;
  --gray-25:85% 0 0 ;
  --gray-95:0% 0 0 ;
  --primary-shadow: oklch(60% 0.16 268.67);
  --bg-gray-15:linear-gradient(135deg, oklch(98% 0 0) 0%, oklch(91% 0 0) 35%, oklch(89% 0 0) 100%) ;
  --tab-indicator-bg:linear-gradient(290deg, oklch(100% 0 0 / 0.35) 0%, oklch(100% 0 0 / 0.4) 65%, oklch(100% 0 0 / 0.5) 100%);
  --border: linear-gradient(135deg, oklch(95% 0 0) 0%, oklch(100% 0 0) 25%, oklch(97% 0 0) 100%);
}



@media (prefers-color-scheme:light) {

  :root:has(#theme-toggle:checked) {
  color-scheme: only dark;
  --gray-10:0% 0 0 ;
  --gray-15:22% 0 0 ;
  --gray-25:35% 0 0 ;
  --gray-95:100% 0 0 ;
  --primary-shadow: oklch(37% 0.17 268.67);
  --bg-gray-15: linear-gradient(135deg, oklch(15% 0 0) 0%, oklch(18% 0 0) 35%, oklch(12% 0 0) 100%) ;
  --tab-indicator-bg: linear-gradient(290deg, oklch(8.5% 0 0 / 0.5) 0%, oklch(8.5% 0 0 / 0.4) 65%, oklch(8.5% 0 0 / 0.35) 100%);
  --border: linear-gradient(135deg, oklch(28% 0 0) 0%, oklch(40% 0 0) 25%, oklch(32% 0 0) 100%);
  }

  :root{ 
  color-scheme: only light;
  --gray-10:100% 0 0 ;
  --gray-15:95% 0 0 ;
  --gray-25:85% 0 0 ;
  --gray-95:0% 0 0 ;
  --primary-shadow: oklch(60% 0.16 268.67);
  --bg-gray-15:linear-gradient(135deg, oklch(98% 0 0) 0%, oklch(91% 0 0) 35%, oklch(89% 0 0) 100%) ;
  --tab-indicator-bg:linear-gradient(290deg, oklch(100% 0 0 / 0.35) 0%, oklch(100% 0 0 / 0.4) 65%, oklch(100% 0 0 / 0.5) 100%);
  --border: linear-gradient(135deg, oklch(95% 0 0) 0%, oklch(100% 0 0) 25%, oklch(97% 0 0) 100%);
  }

}