:root {
  --primary:57% 0.15 268.67 ;
  --success: oklch(65% 0.12 174);
  --danger: oklch(62.31% 0.246 27);


  color-scheme: only dark;
  --gray-10:0% 0 0 ;
  --gray-15:22% 0 0 ;
  --gray-25:32% 0 0 ;
  --gray-50:45% 0 0;
  --gray-75:65% 0 0;
  --gray-85:85% 0 0;
  --gray-95:100% 0 0 ;
  --primary-shadow: oklch(37% 0.17 268.67);
  --tab-indicator-bg:linear-gradient(175deg, oklch(100% 0 0 / 0.05) 0%, oklch(100% 0 0 / 0.10) 65%, oklch(100% 0 0 / 0.16) 100%);
  --rim-light:40% 0.0 273 ;
  --border: linear-gradient(135deg, oklch(28% 0 0) 0%, oklch(40% 0 0) 25%, oklch(32% 0 0) 100%);
  --success-border:  linear-gradient(135deg, oklch(28% 0.045 174) 0%, oklch(40% 0.0681 174) 25%, oklch(32% 0.0538 174) 100%);
}


:root:has(#theme-toggle:checked) {
  color-scheme: only light;
  --gray-10:100% 0 0 ;
  --gray-15:95% 0 0 ;
  --gray-25:90% 0 0 ;
  --gray-50:45% 0 0;
  --gray-75:30% 0 0;
  --gray-85:22% 0 0;
  --gray-95:0% 0 0 ;
  --primary-shadow: oklch(60% 0.16 268.67);
  --tab-indicator-bg: linear-gradient(175deg, oklch(8.5% 0 0 / 0.15) 0%, oklch(8.5% 0 0 / 0.10) 65%, oklch(8.5% 0 0 / 0.05) 100%);
  --rim-light:88% 0.0 273 ;
  --border: linear-gradient(135deg, oklch(98% 0 0) 0%, oklch(88% 0 0) 25%, oklch(94% 0 0) 100%);
  --success-border:  linear-gradient(135deg, oklch(98% 0.0209 174) 0%, oklch(88% 0.1603 174) 25%, oklch(94% 0.0801 174) 100%);
}




@media (prefers-color-scheme:light) {

  :root:has(#theme-toggle:checked) {
    color-scheme: only dark;
    --gray-10:0% 0 0 ;
    --gray-15:22% 0 0 ;
    --gray-25:32% 0 0 ;
    --gray-50:45% 0 0;
    --gray-75:65% 0 0;
    --gray-85:85% 0 0;
    --gray-95:100% 0 0 ;
    --primary-shadow: oklch(37% 0.17 268.67);
    --tab-indicator-bg:linear-gradient(175deg, oklch(100% 0 0 / 0.05) 0%, oklch(100% 0 0 / 0.10) 65%, oklch(100% 0 0 / 0.16) 100%);
    --rim-light:40% 0.0 273 ;
    --border: linear-gradient(135deg, oklch(28% 0 0) 0%, oklch(40% 0 0) 25%, oklch(32% 0 0) 100%);
    --success-border:  linear-gradient(135deg, oklch(28% 0.045 174) 0%, oklch(40% 0.0681 174) 25%, oklch(32% 0.0538 174) 100%);
  }
  :root{ 
    color-scheme: only light;
    --gray-10:100% 0 0 ;
    --gray-15:95% 0 0 ;
    --gray-25:90% 0 0 ;
    --gray-50:45% 0 0;
    --gray-75:30% 0 0;
    --gray-85:22% 0 0;
    --gray-95:0% 0 0 ;
    --primary-shadow: oklch(60% 0.16 268.67);
    --tab-indicator-bg: linear-gradient(175deg, oklch(8.5% 0 0 / 0.15) 0%, oklch(8.5% 0 0 / 0.10) 65%, oklch(8.5% 0 0 / 0.05) 100%);
    --rim-light:88% 0.0 273 ;
    --border: linear-gradient(135deg, oklch(98% 0 0) 0%, oklch(88% 0 0) 25%, oklch(94% 0 0) 100%);
    --success-border:  linear-gradient(135deg, oklch(98% 0.0209 174) 0%, oklch(88% 0.1603 174) 25%, oklch(94% 0.0801 174) 100%);
  }
}