/* drawer */
:root{
  --drawer-height: 90vh;

}



[data-corvu-drawer-overlay] {
  position: fixed;
  inset: 0px;
  z-index: var(--z-layer-higher);
}

[data-corvu-drawer-overlay][data-transitioning] {
  transition-property: background-color;
  transition-timing-function: var(--move);
  transition-duration: 500ms;
}

[data-corvu-drawer-content] {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: var(--z-layer-top);
  display: flex;
  height: 100%;
  max-height: var(--drawer-height);
  flex-direction: column;
  border-top-left-radius: var(--radius-b);
  border-top-right-radius:var(--radius-b);
  background-color: oklch(var(--gray-10) / 1);
}

[data-corvu-drawer-content]::after {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 100%;
  height: 50%;
  background-color: inherit;
  content: '';
}

[data-corvu-drawer-content][data-transitioning] {
  transition-property: transform;
  transition-timing-function: var(--move);
  transition-duration: 500ms;
}

@media (min-width: 768px) {
  [data-corvu-drawer-content] {
    -webkit-user-select: none;
    user-select: none;
  }
}


[data-corvu-drawer-label] {
  margin: var(--size-sm3);
  text-align: center;
  font-size: var(--font-lg1);
  line-height: var(--text-height);
  font-weight: 600;
}

[data-corvu-drawer-description] {
  margin-top: 0.25rem;
  text-align: center;
}

.drawer-content {
  position:absolute;
  inset:0;
  height: var(--drawer-height);
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  gap: var(--size-sm3); 
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: var(--size-sm1);
  padding-inline: var(--size-sm1);
  max-width: 100%;
 }

.drawer-content:first-child{
  padding-top: var(--size-lg1);
}



/* popover */

[data-corvu-popover-label] {
  font-weight: 500;
}

[data-corvu-popover-arrow] {
  color: oklch(var(--gray-50) / .58);
} 

@keyframes enter {
  from {
    opacity: 0;
    scale: 0.8;
  }
}

@keyframes exit {
  to {
    opacity: 0;
    scale: 0.8;
  }
}

[data-corvu-popover-content][data-open] {
  z-index: var(--z-layer-top);
  animation-name: enter;
  animation-duration: 250ms;
  animation-timing-function: var( --appear);
}

[data-corvu-popover-content][data-closed] {
  animation-name: exit;
  animation-duration: 250ms;
  animation-timing-function: var( --appear);
}


[data-corvu-popover-Trigger][data-open] {
  opacity: 0.4;
}