.entries-list{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.entry-item{
  display: flex;
  place-content: space-between;
  width: min(100%, 65ch);
  background-color: oklch(var(--gray-15) / 1);
  border-radius: 0;
  padding: var(--default-padding);
  margin: 0 var(--gap-x03);
  position: relative;
}

.entries-list > :first-child{
  border-top-left-radius: var(--radius-a);
  border-top-right-radius: var(--radius-a);
  margin-top: var(--gap);
}

.entries-list > :last-child{
  border-bottom-left-radius: var(--radius-a);
  border-bottom-right-radius: var(--radius-a);
  margin-bottom: var(--gap-x06);
}

.entries-list > :not(:last-child){
  border-bottom:1px solid oklch(var(--gray-25) / 1);
}

.menu-item{
  background-color: oklch(var(--gray-15) / 1);
  width: min(100%, 65ch) ;
  margin:var(--gap);
  border-radius: var(--radius-a)
}

.menu-item:focus, .menu-item:hover{
  background-color: oklch(var(--gray-25) / 1);
}

.s-container  {
display: flex;
justify-content: flex-end;
align-items: center;
gap: var(--gap);
}

details.right-to-left {
  margin: 0;
  position: relative;
  display: inline-block;
}

details.right-to-left summary::-webkit-details-marker {
  display: none;
}

summary.right-to-left {
  display: flex;
  position: relative;
  cursor: pointer;
  user-select: none;
  min-width: max-content;
  align-items: center;
}

@keyframes details-show-rtl {
  from {
    opacity: 0;
    transform: translateY(-50%) translateX(var(--gap-x02));
  }
  to {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
  }
} 

details.right-to-left[open] > *:not(summary) {
  animation: details-show-rtl 150ms ease-in-out forwards;
} 

details.right-to-left[open] > .s-container {
  width: 10ch;
} 

.delete-button {
  margin-inline: var(--gap);
  color: var(--danger);
  font-size: var(--small-font);
} 

details.right-to-left[open] .delete-button {
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-right: var(--gap);
} 

@keyframes blink {
  0% { opacity: 20%; }
  50% { opacity: 60%; }
  100% { opacity: 20%; }
} 

.copy-button{
  width: 19ch;
  text-align: start;
}