[data-corvu-popover-label] {
  font-weight: 500;
}

[data-corvu-popover-arrow] {
  color: oklch(var(--gray-50) / .58);
} 

@keyframes enter {
  from {
    opacity: 0;
    scale: 0.8;
  }
}

@keyframes exit {
  to {
    opacity: 0;
    scale: 0.8;
  }
}

[data-corvu-popover-content][data-open] {
  animation-name: enter;
  animation-duration: 250ms;
  animation-timing-function: linear(0, 0.03 1.5%, 0.121 3.2%, 0.851 13%, 0.99 16.4%, 1.063 20.2%, 1.076 22.3%, 1.075 24.8%, 1.013 35.9%, 0.995 43.4%, 1);
}

[data-corvu-popover-content][data-closed] {
  animation-name: exit;
  animation-duration: 250ms;
  animation-timing-function: linear(0, 0.03 1.5%, 0.121 3.2%, 0.851 13%, 0.99 16.4%, 1.063 20.2%, 1.076 22.3%, 1.075 24.8%, 1.013 35.9%, 0.995 43.4%, 1);
}