.prose {
  color: oklch(var(--gray-75) );
  max-width: 65ch
}

.prose :where(button):not(:where([class~=not-prose],[class~=not-prose] *)), .prose-btn {
  padding: var(--default-padding);
  line-height: var(--gap-x04);
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  border-radius: var(--radius-a);
  color: oklch(var(--gray-95));
  background: oklch(var(--primary) / 0.15);
  border-width: 0;
  position: relative;
  box-shadow: inset 0 -12px 10px -8px oklch(var(--primary) / 0.35);
  transition: 0.2s;
}

.prose :where(button):not(:where([class~=not-prose],[class~=not-prose] *)):hover, .prose-btn:hover {
  background: oklch(var(--primary) / 0.20);
  box-shadow: inset 0 -12px 10px -8px oklch(var(--primary) / 0.40);
}

.prose :where(button):not(:where([class~=not-prose],[class~=not-prose] *)):active, .prose-btn:active {
  background: oklch(var(--primary) / 0.25);
  box-shadow: inset 0 -12px 10px -8px oklch(var(--primary) / 0.45);
}

.prose :where(button:disabled):not(:where([class~=not-prose],[class~=not-prose] *)), .prose-btn:disabled,
.prose :where(button:disabled):not(:where([class~=not-prose],[class~=not-prose] *)):hover, .prose-btn:disabled:hover,
.prose :where(button:disabled):not(:where([class~=not-prose],[class~=not-prose] *)):active, .prose-btn:disabled:active {
  background: oklch(var(--gray-15) / 0.3);
  color:oklch(var(--gray-95) / 0.6);
  box-shadow: none;
  cursor: not-allowed;
}

.prose :where(button):not(:where([class~=not-prose],[class~=not-prose] *))::before, .prose-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--radius-a);
  border: 1px solid transparent;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box,linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  background: linear-gradient(to bottom, oklch(var(--primary) / 0.8) 0%, oklch(100% 0 0 / 0) 180%) border-box;
}

.prose :where(button):not(:where([class~=not-prose],[class~=not-prose] *))::before:hover, .prose-btn::before:hover {
  content: ""
  background: linear-gradient(to bottom, oklch(var(--primary) / 0.88) 0%, oklch(100% 0 0 / 0) 180%) border-box;
}

.prose :where(button):not(:where([class~=not-prose],[class~=not-prose] *))::before:active, .prose-btn::before:active {
  content: ""
  background: linear-gradient(to bottom, oklch(var(--primary) / 0.96) 0%, oklch(100% 0 0 / 0) 180%) border-box;
}

.prose :where(button:disabled):not(:where([class~=not-prose],[class~=not-prose] *))::before, .prose-btn:disabled::before,
.prose :where(button:disabled):not(:where([class~=not-prose],[class~=not-prose] *))::before:hover, .prose-btn:disabled::before:hover,
.prose :where(button:disabled):not(:where([class~=not-prose],[class~=not-prose] *))::before:active, .prose-btn:disabled::before:active {
  content: "";
  background: linear-gradient(to bottom, oklch(45% 0 0 / 0.2) 0%, oklch(100% 0 0 / 0) 180%) ;
}

.prose :where(button):not(:where([class~=not-prose],[class~=not-prose] *))::after, .prose-btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--radius-a);
    border: var(--m-border-size, 1px) solid transparent;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    pointer-events: none;
    background: radial-gradient(42.86% 42.86% at 50.55% -0%, oklch(100% 0 0 / 0.30) 0%, oklch(100% 0 0 / 0) 100%) border-box;
}

.prose :where(button:disabled):not(:where([class~=not-prose],[class~=not-prose] *))::after, .prose-btn:disabled::after {
  content: "";
  -webkit-mask: none;
  background: none;
}

.prose :where(button):not(:where([class~=not-prose],[class~=not-prose] *))::after:hover, .prose-btn::after:hover {
  content: "";
  background: radial-gradient(42.86% 42.86% at 50.55% -0%, oklch(100% 0 0 / 0.5) 0%, oklch(100% 0 0 / 0) 100%) border-box;
}

.prose :where(button):not(:where([class~=not-prose],[class~=not-prose] *))::after:active, .prose-btn::after:active {
  content: "";
  background: radial-gradient(42.86% 42.86% at 50.55% -0%, oklch(100% 0 0 / 0.65) 0%, oklch(100% 0 0 / 0) 100%) border-box;
}

.prose :where(select):not(:where([class~=not-prose],[class~=not-prose] *)) {
  display: inline-block;
  padding-left:var(--gap-xs); 
  padding-right:var(--gap-xs);
  border-radius: var(--radius-a);
  color: oklch(var(--gray-95) );
  background-color: oklch(var(--gray-25));
  text-align: center;
  position: relative;
}



.prose :where(select):not(:where([class~=not-prose],[class~=not-prose] *)):focus{
  background-color: oklch(var(--gray-25) / 1);
  outline: 1px solid transparent;
}

.prose :where(select):not(:where([class~=not-prose],[class~=not-prose] *)):focus-visible {
  outline: Highlight auto 1px;
  outline: -webkit-focus-ring-color auto 1px;
}

.prose :where(input[type="text"], input[type="url"], input[type="password"], input[type="email"]):not(:where([class~=not-prose],[class~=not-prose] *)),
.prose :where(textarea):not(:where([class~=not-prose],[class~=not-prose] *)){
  padding: var(--default-padding);
  width: 100%;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: var(--radius-a);
  color: oklch(var(--gray-95) / 1);
  background-color: oklch(var(--gray-10) / 0.45);
  line-height: var(--gap-x04);
  box-shadow: inset 0px 1px 5px oklch(0% 0 0 / 0.1) , 
                    0px 1px 2px oklch(100% 0 0 / 0.1) , 
                    0px 0px 1px 0.5px oklch(100% 0 0 / 0.1) ;
}

.prose :where(textarea):not(:where([class~=not-prose],[class~=not-prose] *)){
  line-height: var(--gap-x05);
}

.prose :where(input[type="text"], input[type="url"], input[type="password"], input[type="email"]):not(:where([class~=not-prose],[class~=not-prose] *)):focus,
.prose :where(textarea):not(:where([class~=not-prose],[class~=not-prose] *)):focus {
  border-radius: var(--radius-a);
  background-color:oklch(var(--gray-10) / 0.75); 
  outline: none;
  background: linear-gradient( oklch(var(--gray-10)), oklch(var(--gray-10))) padding-box, 
      radial-gradient(60% 90% at 50% 60%,
        oklch(100% 0 0 / 0.9) 0%,
        oklch(var(--primary) / 0.8) 60%);

}

.prose :where(input[type="text"], input[type="url"], input[type="password"], input[type="email"]):not(:where([class~=not-prose],[class~=not-prose] *)):read-only,
.prose :where(textarea):not(:where([class~=not-prose],[class~=not-prose] *)):read-only{
  cursor: default;
  background-color: oklch(var(--gray-10) / 0.25);
  background: oklch(var(--gray-10) / 0.25);

  color: oklch(var(--gray-85) );
  box-shadow: none;
  border: 1px solid transparent;
}


.prose :where(p):not(:where([class~=not-prose],[class~=not-prose] *)) {
  margin-top: var(--gap-x04);
  margin-bottom: var(--gap-x04)
}

.prose :where(a):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: oklch(var(--gray-85) );
  text-decoration: underline;
  font-weight: 500
}

.prose :where(strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: oklch(var(--gray-85) );
  font-weight: 600
}

.prose :where(a strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: inherit
}

.prose :where(blockquote strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: inherit
}

.prose :where(thead th strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: inherit
}

.prose :where(ol):not(:where([class~=not-prose],[class~=not-prose] *)) {
  list-style-type: decimal;
  margin-top: var(--gap-x04);
  margin-bottom: var(--gap-x04);
  padding-inline-start: var(--gap-x05)
}

.prose :where(ol[type=A]):not(:where([class~=not-prose],[class~=not-prose] *)) {
  list-style-type: upper-alpha
}

.prose :where(ol[type=a]):not(:where([class~=not-prose],[class~=not-prose] *)) {
  list-style-type: lower-alpha
}

.prose :where(ol[type=A s]):not(:where([class~=not-prose],[class~=not-prose] *)) {
  list-style-type: upper-alpha
}

.prose :where(ol[type=a s]):not(:where([class~=not-prose],[class~=not-prose] *)) {
  list-style-type: lower-alpha
}

.prose :where(ol[type=I]):not(:where([class~=not-prose],[class~=not-prose] *)) {
  list-style-type: upper-roman
}

.prose :where(ol[type=i]):not(:where([class~=not-prose],[class~=not-prose] *)) {
  list-style-type: lower-roman
}

.prose :where(ol[type=I s]):not(:where([class~=not-prose],[class~=not-prose] *)) {
  list-style-type: upper-roman
}

.prose :where(ol[type=i s]):not(:where([class~=not-prose],[class~=not-prose] *)) {
  list-style-type: lower-roman
}

.prose :where(ol[type="1"]):not(:where([class~=not-prose],[class~=not-prose] *)) {
  list-style-type: decimal
}

.prose :where(ul):not(:where([class~=not-prose],[class~=not-prose] *)) {
  list-style-type: disc;
  margin-top: var(--gap-x04);
  margin-bottom: var(--gap-x04);
  padding-inline-start: var(--gap-x05)
}

.prose :where(ol>li):not(:where([class~=not-prose],[class~=not-prose] *))::marker {
  font-weight: 400;
  color: oklch(var(--gray-50) )
}

.prose :where(ul>li):not(:where([class~=not-prose],[class~=not-prose] *))::marker {
  color: oklch(var(--gray-85) )
}

.prose :where(dt):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: oklch(var(--gray-85) );
  font-weight: 600;
  margin-top: var(--gap-x04)
}

.prose :where(hr):not(:where([class~=not-prose],[class~=not-prose] *)) {
  border-color: oklch(var(--gray-15) );
  border-top-width: 1px;
  margin-top: var(--gap-x08);
  margin-bottom: var(--gap-x08)
}

.prose :where(blockquote):not(:where([class~=not-prose],[class~=not-prose] *)) {
  font-weight: 500;
  font-style: italic;
  color: olklc(var(--gray-85) );
  border-inline-start-width: var(--gap-xxs);
  border-inline-start-color: oklch(var(--gray-15) );
  quotes: "“""”""‘""’";
  margin-top: var(--gap-x05);
  margin-bottom: var(--gap-x05);
  padding-inline-start: var(--gap-x04)
}

.prose :where(blockquote p:first-of-type):not(:where([class~=not-prose],[class~=not-prose] *)):before {
  content: open-quote
}

.prose :where(blockquote p:last-of-type):not(:where([class~=not-prose],[class~=not-prose] *)):after {
  content: close-quote
}

.prose :where(h1):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: oklch(var(--gray-85) );
  font-weight: 800;
  font-size: var(--bigest-font);
  margin-top: 0;
  margin-bottom: var(--gap-x03);
  line-height: var(--gap-x04)
}

.prose :where(h1 strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
  font-weight: 900;
  color: inherit
}

.prose :where(h2):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: oklch(var(--gray-85) );
  font-weight: 700;
  font-size: var(--extra-big-font);
  margin-top: var(--gap-x06);
  margin-bottom: var(--gap-x04);
  line-height: var(--gap-x05)
}

.prose :where(h2 strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
  font-weight: 800;
  color: inherit
}

.prose :where(h3):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: oklch(var(--gray-85) );
  font-weight: 600;
  font-size: var(--big-font);
  margin-top: var(--gap-x05);
  margin-bottom: var(--gap);
  line-height: var(--gap-x06)
}

.prose :where(h3 strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
  font-weight: 700;
  color: inherit
}

.prose :where(h4):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: oklch(var(--gray-85) );
  font-weight: 600;
  margin-top: var(--gap-x05);
  margin-bottom: var(--gap);
  line-height: var(--gap-x05)
}

.prose :where(h4 strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
  font-weight: 700;
  color: inherit
}

.prose :where(img):not(:where([class~=not-prose],[class~=not-prose] *)) {
  margin-top: var(--gap-x06);
  margin-bottom: var(--gap-x06)
}

.prose :where(picture):not(:where([class~=not-prose],[class~=not-prose] *)) {
  display: block;
  margin-top: var(--gap-x06);
  margin-bottom: var(--gap-x06)
}

.prose :where(video):not(:where([class~=not-prose],[class~=not-prose] *)) {
  margin-top: var(--gap-x06);
  margin-bottom: var(--gap-x06)
}

.prose :where(kbd):not(:where([class~=not-prose],[class~=not-prose] *)) {
  font-weight: 500;
  font-family: inherit;
  color: oklch(var(--gray-85) );
  box-shadow: 0 0 0 1px oklch(var(--gray-85) / 0.1),0 3px oklch(var(--gray-85) / 0.1);
  font-size: var(--small-font);
  border-radius: var(--gap-xs);
  padding-top: var(--gap-3xs);
  padding-inline-end: var(--gap-xs);
  padding-bottom: var(--gap-3xs);
  padding-inline-start: var(--gap-xs)
}

.prose :where(code):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: oklch(var(--gray-85) );
  font-weight: 600;
  font-size: var(--small-font)
}

.prose :where(code):not(:where([class~=not-prose],[class~=not-prose] *)):before {
  content: "`"
}

.prose :where(code):not(:where([class~=not-prose],[class~=not-prose] *)):after {
  content: "`"
}

.prose :where(a code):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: inherit
}

.prose :where(h1 code):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: inherit
}

.prose :where(h2 code):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: inherit;
  font-size: var(--small-font)
}

.prose :where(h3 code):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: inherit;
  font-size: var(--small-font)
}

.prose :where(h4 code):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: inherit
}

.prose :where(blockquote code):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: inherit
}

.prose :where(thead th code):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: inherit
}

.prose :where(pre):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: oklch(var(--gray-15) );
  background-color: oklch(var(--gray-75) );
  overflow-x: auto;
  font-weight: 400;
  font-size: var(--small-font);
  line-height: var(--gap-x06);
  margin-top: var(--gap-x06);
  margin-bottom: var(--gap-x06);
  border-radius: var(--gap-xs);
  padding-top: var(--gap-x03);
  padding-inline-end: var(--gap-x04);
  padding-bottom: var(--gap-x03);
  padding-inline-start: var(--gap-x04)
}

.prose :where(pre code):not(:where([class~=not-prose],[class~=not-prose] *)) {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit
}

.prose :where(pre code):not(:where([class~=not-prose],[class~=not-prose] *)):before {
  content: none
}

.prose :where(pre code):not(:where([class~=not-prose],[class~=not-prose] *)):after {
  content: none
}

.prose :where(table):not(:where([class~=not-prose],[class~=not-prose] *)) {
  width: 100%;
  table-layout: auto;
  margin-top: var(--gap-x06);
  margin-bottom: var(--gap-x06);
  font-size: var(--small-font);
  line-height: var(--gap-x06)
}

.prose :where(thead):not(:where([class~=not-prose],[class~=not-prose] *)) {
  border-bottom-width: 1px;
  border-bottom-color: oklch(var(---gray-25) )
}

.prose :where(thead th):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: oklch(var(--gray-85) );
  font-weight: 600;
  vertical-align: bottom;
  padding-inline-end: var(--gap);
  padding-bottom:var(--gap);
  padding-inline-start: var(--gap)
}

.prose :where(tbody tr):not(:where([class~=not-prose],[class~=not-prose] *)) {
  border-bottom-width: 1px;
  border-bottom-color: oklch(var(--gray-25) )
}

.prose :where(tbody tr:last-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
  border-bottom-width: 0
}

.prose :where(tbody td):not(:where([class~=not-prose],[class~=not-prose] *)) {
  vertical-align: baseline
}

.prose :where(tfoot):not(:where([class~=not-prose],[class~=not-prose] *)) {
  border-top-width: 1px;
  border-top-color: oklch(var(--gray-25) )
}

.prose :where(tfoot td):not(:where([class~=not-prose],[class~=not-prose] *)) {
  vertical-align: top
}

.prose :where(th,td):not(:where([class~=not-prose],[class~=not-prose] *)) {
  text-align: start
}

.prose :where(figure>*):not(:where([class~=not-prose],[class~=not-prose] *)) {
  margin-top: 0;
  margin-bottom: 0
}

.prose :where(figcaption):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: oklch (var(--gray-50) );
  font-size: var(--small-font);
  line-height: var(--gap-x05);
  margin-top: var(--gap-x03)
}

.prose :where(picture>img):not(:where([class~=not-prose],[class~=not-prose] *)) {
  margin-top: 0;
  margin-bottom: 0
}

.prose :where(li):not(:where([class~=not-prose],[class~=not-prose] *)) {
  margin-top: var(--gap);
  margin-bottom: var(--gap)
}

.prose :where(ol>li):not(:where([class~=not-prose],[class~=not-prose] *)) {
  padding-inline-start: var(--gap-xs)
}

.prose :where(ul>li):not(:where([class~=not-prose],[class~=not-prose] *)) {
  padding-inline-start: var(--gap-xs)
}

.prose :where(.prose>ul>li p):not(:where([class~=not-prose],[class~=not-prose] *)) {
  margin-top: var(--gap-x02);
  margin-bottom: var(--gap-x02)
}

.prose :where(.prose>ul>li>p:first-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
  margin-top: var(--gap-x04)
}

.prose :where(.prose>ul>li>p:last-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
  margin-bottom: var(--gap-x04)
}

.prose :where(.prose>ol>li>p:first-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
  margin-top: var(--gap-x04)
}

.prose :where(.prose>ol>li>p:last-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
  margin-bottom: var(--gap-x04)
}

.prose :where(ul ul,ul ol,ol ul,ol ol):not(:where([class~=not-prose],[class~=not-prose] *)) {
  margin-top: var(--gap-x02);
  margin-bottom: var(--gap-x02)
}

.prose :where(dl):not(:where([class~=not-prose],[class~=not-prose] *)) {
  margin-top: var(--gap-x04);
  margin-bottom: var(--gap-x04)
}

.prose :where(dd):not(:where([class~=not-prose],[class~=not-prose] *)) {
  margin-top: var(--gap);
  padding-inline-start: var(--gap-x05)
}

.prose :where(hr+*):not(:where([class~=not-prose],[class~=not-prose] *)) {
  margin-top: 0
}

.prose :where(h2+*):not(:where([class~=not-prose],[class~=not-prose] *)) {
  margin-top: 0
}

.prose :where(h3+*):not(:where([class~=not-prose],[class~=not-prose] *)) {
  margin-top: 0
}

.prose :where(h4+*):not(:where([class~=not-prose],[class~=not-prose] *)) {
  margin-top: 0
}

.prose :where(thead th:first-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
  padding-inline-start: 0
}

.prose :where(thead th:last-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
  padding-inline-end: 0
}

.prose :where(tbody td,tfoot td):not(:where([class~=not-prose],[class~=not-prose] *)) {
  padding-top: var(--gap);
  padding-inline-end: var(--gap);
  padding-bottom: var(--gap);
  padding-inline-start: var(--gap)
}

.prose :where(tbody td:first-child,tfoot td:first-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
  padding-inline-start: 0
}

.prose :where(tbody td:last-child,tfoot td:last-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
  padding-inline-end: 0
}

.prose :where(figure):not(:where([class~=not-prose],[class~=not-prose] *)) {
  margin-top: var(--gap-x06);
  margin-bottom: var(--gap-x06)
}

.prose :where(.prose>:first-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
  margin-top: 0
}

.prose :where(.prose>:last-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
  margin-bottom: 0
}