:root {

  --x02: 1.27;
  --x03: 1.61;
  --x04: 2.05;
  --x05: 2.61;
  --x55: 2.94;
  --x06: 3.33;
  --x65: 3.75;
  --x07: 4.23;
  --x75: 4.77;
  --x08: 5.38;
  --x09: 6.85;
  --x10: 8.71;

  --font-sm2: calc(100% / var(--x03));
  --font-sm1: calc(100% / var(--x02));
  --font-lg1: calc(100% * var(--x02));
  --font-lg2: calc(100% * var(--x03));
  --font-lg3: calc(100% * var(--x04));
  
  

  --gap: 1.1ch;                             /* sm1 */
  --gap-3xs: calc(var(--gap) / var(--x05)); /* xs4 */
  --gap-xxs: calc(var(--gap) / var(--x04)); /* xs3 */
  --gap-xs:  calc(var(--gap) / var(--x03)); /* xs2 */
  --gap-x02: calc(var(--gap) * var(--x02)); /* sm2 */
  --gap-x03: calc(var(--gap) * var(--x03)); /* sm3 */
  --gap-x04: calc(var(--gap) * var(--x04)); /* sm4 */
  --gap-x05: calc(var(--gap) * var(--x05)); /* sm5 */
  --gap-x55: calc(var(--gap) * var(--x55)); /* md1 */
  --gap-x06: calc(var(--gap) * var(--x06)); /* md2 */
  --gap-x65: calc(var(--gap) * var(--x65)); /* md3 */
  --gap-x07: calc(var(--gap) * var(--x07)); /* md4 */
  --gap-x75: calc(var(--gap) * var(--x75)); /* md5 */
  --gap-x08: calc(var(--gap) * var(--x08)); /* lg1 */
  --gap-x09: calc(var(--gap) * var(--x09)); /* lg2 */
  --gap-x10: calc(var(--gap) * var(--x10)); /* lg3 */


  --default-padding: calc( var(--gap-x03) / 2)  var(--gap-x03);
  --thin-padding: 0.1ch var(--gap);


  --radius-a: calc(var(--gap-x65) * 0.227);
  --radius-b: calc(var(--gap-x65) * 0.365);

  --z-layer-top: 4;
  --z-layer-higher: 3;
  --z-layer-middle: 2;
  --z-layer-beneath: -1;

  --appear: cubic-bezier(0.6 , 1.45, 0.5, 1);
  --move:   cubic-bezier(0.32, 0.72, 0  , 1);

}