---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Generate from '../components/Generate.astro'; 
import Encdec from '../components/Encdec.astro';
import VarificationCard from '../components/VarificationCard.astro';
import GenerateQR from '../components/GenerateQR.astro'; 
import About from '../components/About.astro';

---

<Layout title="Generate and encrypt Passwords">


	<div  class="tab-content one" > 
	  <div class="grid-layout">
	     
			<Card title = "Generate Password" iden='generate'>
				<Generate/>
			</Card>	

			<Card title = "Varification Code" iden='varification'>
				<VarificationCard/> 
		 	</Card>  

	  </div> 
	</div>



	<div class="tab-content two">
		<div class="grid-layout"> 

			<div>Building...</div>

		</div>
	</div>

	<div class="tab-content three"> 
		<div class="grid-layout" > 

			<Card title = "Encryption and Decryption" iden='encryption'>
				<Encdec/>
			</Card>

			<Card title = "Generate QR Code" iden='generateQR'>
				<GenerateQR/> 
	 		</Card> 

		</div>
	</div>

	<div id="testAbout" class="tab-content four"> 
		<div class="grid-layout">
	   		<About/>
		</div>
	</div>
    
</Layout>

<script src="../components/signals.ts"></script>

<style>
	
.grid-layout {
	display: grid;
	gap:var(--gap-x04);
	grid-template-columns: repeat(auto-fit, clamp(200px, 350px, 100% ) )  ;
	justify-content: center;
	padding-bottom: calc( var(--gap-x10) + var(--gap-x04)) ;
}

</style>