---
import Layout from '../layouts/Layout.astro';
import Card from '../components/ui/Card.astro';
import GeneratePass from '../components/GeneratePass.astro'; 
import Encdec from '../components/Encdec.astro';
import Varification from '../components/Varification.astro';
import QRCode from '../components/QRCode.astro'; 
import About from '../components/About.astro';
import Emails from '../components/Emails.astro';
import Records from '../components/Records.astro';

---

<Layout title="Generate and encrypt Passwords">


	<div  class="tab-content one" > 
	  <div class="grid-layout">
	     
			<Card title = "Generate Password" iden='generate'>
				<GeneratePass/>
			</Card>	

			<Card title = "Varification Code" iden='varification'>
				<Varification/> 
		 	</Card>  

	  </div> 
	</div>



	<div class="tab-content two">
		<div class="grid-layout"> 

			<Records>

		</div>
	</div>

	<div class="tab-content three"> 
		<div class="grid-layout" > 

			<Card title = "AES Encryption" iden='encryption'>
				<Encdec/>
			</Card>

	 		<Card title = "Frequently Used Emails" iden='emails'>
	 			<Emails/>
	 		</Card>

	 		<Card title = "Generate QR Code" iden='generateQR'>
				<QRCode/> 
	 		</Card> 

		</div>
	</div>

	<div id="testAbout" class="tab-content four"> 
		<div class="grid-layout">
	   		<About/>
		</div>
	</div>
    
</Layout>

<script src="../components/homeLogic.ts"></script>

<style>
	
.grid-layout {
	display: grid;
	gap:var(--gap-x04);
	grid-template-columns: repeat(auto-fit, clamp(200px, 350px, 100% ) )  ;
	justify-content: center;
	padding-bottom: calc( var(--gap-x10) + var(--gap-x04)) ;
}

</style>