---
import Layout from '../layouts/Layout.astro';
import Mytext from '../components/Mytext.astro';
import Slider from '../components/Slider.astro';
import Mytab from '../components/Mytab.astro';
---

<Layout title="Welcome to Astro.">

<main id = "main"  style="
padding: 1rem;
width: 800px;
max-width: calc(100% - 2rem);">

	<Mytext id = "try" body="hello"/>
	<Mytext id = "try-2" body="hello-2"/>
	<Slider body="hi"/>
	<p id= "createEffect"></p>
	<p id= "createEffect-2"></p>	
	<!-- <Mytab/> -->


    <div class="tab-content one"> 
        <div>Home tab</div>
    </div>

    <div class="tab-content two"> 
        <div>About tab</div>
    </div>




	</main>


</Layout>


<style >




</style>









