---
import ThemeToggle from '../components/ThemeToggle.astro';
---
<fieldset class="box-shadow" id="About-ki">
    <legend>Key and IV</legend>

    <form autocomplete="off">
        <section style="position: relative;">

            <input
                id="About-ki-k-input"
                type="text"
                name="Key"
                placeholder="Key"/>

            <span id="About-ki-k-chars" style="top :calc( (var(--size-md3) - var(--size-sm4)) / 2);"></span> 

            <input
                id="About-ki-i-input"
                type="text"
                name="IV"
                placeholder="IV"/>

            <span id="About-ki-i-chars" style="bottom: calc( (var(--size-md3) - var(--size-sm4)) / 2);" ></span>

        </section>
    </form>

  <!-- <button id="test">test</button> -->
</fieldset>

<menu>
  <li>
    <ThemeToggle />
  </li>
</menu>


<style>

#About-ki-k-chars, #About-ki-i-chars {
  position: absolute;
  right: var(--size-sm2);
  pointer-events: none;
}

</style>

<script>

// import queryHelper  from "../utils/query-helper"
// import { trpc } from "../utils/trpc";

// type serverRespone = {message:string; [key:string]: unknown}  | undefined
// document.getElementById("About-ki")!.addEventListener("click", (e) => {
//   if ((e!.target as HTMLInputElement).matches("#test")) {
//     (async () => {
//     const [data, error] = await queryHelper.direct("db", () => trpc.dbquery.mutate()) as [serverRespone, serverRespone];
//     console.log(data?.message ?? error?.message ?? "");
//     })();
//   }
// });

import {count_characters } from "../pkg/rust_lib";
import { pass } from '../logic/pass';

document.getElementById("About-ki")!.addEventListener("input",(e)=>{
   if((e!.target as HTMLInputElement).matches("#About-ki-k-input")){
      const value = (e!.target as HTMLInputElement).value;
      pass.setKey(value.toString())
      document.getElementById("About-ki-k-chars")!.textContent = count_characters(pass.get("key")).toString();
   }
   if((e!.target as HTMLInputElement).matches("#About-ki-i-input")){
      const value = (e!.target as HTMLInputElement).value;
      pass.setIV(value.toString())
      document.getElementById("About-ki-i-chars")!.textContent = count_characters(pass.get("iv")).toString();
   }
});

</script>