<div class="glass drw-bg bottom-nav" >
    <input type="radio" name="tab" class="sub-route hide-checkbox" id="one" tabindex="1" checked/>

    <label class="nav-div" for="one" id="l_one">
        <svg style="
            width: var(--gap-xx1);
            height: var(--gap-x6);
            padding: 2px;" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path class="home-icon" d="M10.55 2.533a2.25 2.25 0 0 1 2.9 0l6.75 5.695c.508.427.8 1.056.8 1.72v9.802a1.75 1.75 0 0 1-1.75 1.75h-3a1.75 1.75 0 0 1-1.75-1.75v-5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0-.75.75v5a1.75 1.75 0 0 1-1.75 1.75h-3A1.75 1.75 0 0 1 3 19.75V9.947c0-.663.292-1.292.8-1.72l6.75-5.694Z" 
            fill="#ffffff"/>
        </svg>
        <div class="nav-text nav-text-one">Home</div>
    </label>

    <input type="radio" name="tab" class="sub-route hide-checkbox" id="two"/>

    <label class="nav-div" for="two" id="l_two">
        <svg style="
            width: var(--gap-xx1);
            height: var(--gap-x6);
            padding: 2px;"width="24" height="24" fill="none" viewBox="0 0 24 24" ><path class="qr-icon" d="M8 6H6v2h2V6Z" fill="#ffffff"/><path class="qr-icon" d="M3 5.5A2.5 2.5 0 0 1 5.5 3h3A2.5 2.5 0 0 1 11 5.5v3A2.5 2.5 0 0 1 8.5 11h-3A2.5 2.5 0 0 1 3 8.5v-3ZM5.5 5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3ZM6 16h2v2H6v-2Z" fill="#ffffff"/><path class="qr-icon" d="M3 15.5A2.5 2.5 0 0 1 5.5 13h3a2.5 2.5 0 0 1 2.5 2.5v3A2.5 2.5 0 0 1 8.5 21h-3A2.5 2.5 0 0 1 3 18.5v-3Zm2.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3ZM18 6h-2v2h2V6Z" fill="#ffffff"/><path class="qr-icon" d="M15.5 3A2.5 2.5 0 0 0 13 5.5v3a2.5 2.5 0 0 0 2.5 2.5h3A2.5 2.5 0 0 0 21 8.5v-3A2.5 2.5 0 0 0 18.5 3h-3ZM15 5.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-3ZM13 13h2.75v2.75H13V13ZM18.25 15.75h-2.5v2.5H13V21h2.75v-2.75h2.5V21H21v-2.75h-2.75v-2.5ZM18.25 15.75V13H21v2.75h-2.75Z" fill="#ffffff"/></svg>
        <div class="nav-text nav-text-two">QR Code</div>
    </label>

<input type="radio" name="tab" class="sub-route hide-checkbox" id="three"/>

    <label class="nav-div" for="three" id="l_three">
        <svg style="
            width: var(--gap-xx1);
            height: var(--gap-x6);
            padding: 2px;" width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns=><path class="auth-icon" d="M3 5.75V11c0 5.001 2.958 8.676 8.725 10.948a.75.75 0 0 0 .55 0C18.042 19.676 21 16 21 11V5.75a.75.75 0 0 0-.75-.75c-2.663 0-5.258-.943-7.8-2.85a.75.75 0 0 0-.9 0C9.008 4.057 6.413 5 3.75 5a.75.75 0 0 0-.75.75ZM13.995 11a2 2 0 0 1-1.245 1.852v2.398a.75.75 0 0 1-1.5 0v-2.394A2 2 0 1 1 13.995 11Z" fill="#ffffff"/></svg>
        <div class="nav-text nav-text-three">2FA</div>
    </label>

<input type="radio" name="tab" class="sub-route hide-checkbox" id="four" />

    <label class="nav-div" for="four" id="l_four">
        <svg style="
            width: var(--gap-xx1);
            height: var(--gap-x6);
            padding: 2px;" width="24" height="24" fill="none" viewBox="0 0 24 24" ><path class="about-icon" d="M12 1.999c5.524 0 10.002 4.478 10.002 10.002 0 5.523-4.478 10.001-10.002 10.001-5.524 0-10.002-4.478-10.002-10.001C1.998 6.477 6.476 1.999 12 1.999Zm-.004 8.25a1 1 0 0 0-.992.885l-.007.116.003 5.502.007.117a1 1 0 0 0 1.987-.002L13 16.75l-.003-5.501-.007-.117a1 1 0 0 0-.994-.882ZM12 6.5a1.251 1.251 0 1 0 0 2.503A1.251 1.251 0 0 0 12 6.5Z" fill="#ffffff"/></svg>
        <div class="nav-text nav-text-four">About</div>
    </label>

</div>

<style is:global>


.bottom-nav{
    z-index: var(--z-layer-higher);
    background-color: oklch(var(--gray-back-100) / 0.5);
    height: var(--gap-xx1);
    font-size: var(--regular-font);
    justify-content: space-around;
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0
}

.nav-div{
    width: var(--gap-xx1);
    height: var(--gap-x8) ;
    display: flex; 
    flex-direction: column;
    justify-content: space-around; 
    justify-content: center;
}

.nav-text{
    font-size: var(--extra-small-font); 
    text-align: center;
    color: oklch(var(--gray-fore-100) / 1);
    opacity: 50%;
}

.home-icon,
.qr-icon,
.auth-icon,
.about-icon
 {
  fill: oklch(var(--gray-fore-100) / 1); 
  opacity: 50%;
}

:root:has(#one:checked) .home-icon {
  fill: var(--primary);
  opacity: 100%;
}

:root:has(#one:checked) .nav-text-one {
  color: var(--primary);
  opacity: 100%
}


:root:has(#two:checked) .qr-icon {
  fill: var(--primary);
  opacity: 100%;
}

:root:has(#two:checked) .nav-text-two {
  color: var(--primary); 
  opacity: 100%;
}

:root:has(#three:checked) .auth-icon {
  fill: var(--primary); 
  opacity: 100%;
}

:root:has(#three:checked) .nav-text-three {
  color: var(--primary); 
  opacity: 100%;
}

:root:has(#four:checked) .about-icon {
  fill: var(--primary);
  opacity: 100%;
}

:root:has(#four:checked) .nav-text-four {
  color: var(--primary);
  opacity: 100%;
}


.sub-route {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  width: 25ch;
  font-size:var(--regular-font);
  transition-duration: 0.2s;
  background-color: transparent;
}


.tab-content {
    display: none;
    width: 100%;
}

:root:has(#one:checked) .tab-content.one {
    display: block;
}

:root:has(#two:checked) .tab-content.two {
    display: block;
}

:root:has(#three:checked) .tab-content.three {
    display: block;
}

:root:has(#four:checked) .tab-content.four {
    display: block;
}


:root:has(#one:focus-visible) #l_one,
:root:has(#two:focus-visible)  #l_two ,
:root:has(#three:focus-visible) #l_three,
:root:has(#four:focus-visible)  #l_four  {
    outline: Highlight auto 1px;
  outline: -webkit-focus-ring-color auto 1px;
}
</style>