<div class="bottom-nav glass drw-bg box-shadow ">
  <input type="radio" name="tab" class="sub-route hide-checkbox" id="one" tabindex="1" checked />

  <label class="nav-div" for="one" id="l_one">
    <svg class="svg-icon" width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path class="home-icon"
        d="M10.55 2.533a2.25 2.25 0 0 1 2.9 0l6.75 5.695c.508.427.8 1.056.8 1.72v9.802a1.75 1.75 0 0 1-1.75 1.75h-3a1.75 1.75 0 0 1-1.75-1.75v-5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0-.75.75v5a1.75 1.75 0 0 1-1.75 1.75h-3A1.75 1.75 0 0 1 3 19.75V9.947c0-.663.292-1.292.8-1.72l6.75-5.694Z"
        fill="#ffffff" />
    </svg>
    <div class="nav-text nav-text-one">Home</div>
  </label>

  <input type="radio" name="tab" class="sub-route hide-checkbox" id="two" />

  <label class="nav-div" for="two" id="l_two">
    <svg class="svg-icon" width="24" height="24" fill="none" viewBox="0 0 24 24" >
      <path class="qr-icon" d="M14 13.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z" fill="#fff"/>
      <path class="qr-icon" d="M2 7.75A3.75 3.75 0 0 1 5.75 4h12.5A3.75 3.75 0 0 1 22 7.75v8.5A3.75 3.75 0 0 1 18.25 20H5.75A3.75 3.75 0 0 1 2 16.25v-8.5ZM5.75 7a.75.75 0 0 0-.75.75v8.5a.75.75 0 0 0 1.5 0v-8.5A.75.75 0 0 0 5.75 7Zm5.53 1.22a.75.75 0 1 0-1.06 1.06l1.195 1.196A2.985 2.985 0 0 0 11 12c0 .556.151 1.077.415 1.524L10.22 14.72a.75.75 0 1 0 1.06 1.06l1.196-1.195c.447.264.968.415 1.524.415s1.077-.151 1.524-.415l1.196 1.195a.75.75 0 1 0 1.06-1.06l-1.195-1.196c.264-.447.415-.968.415-1.524s-.151-1.077-.415-1.524L17.78 9.28a.75.75 0 0 0-1.06-1.06l-1.196 1.195A2.986 2.986 0 0 0 14 9c-.556 0-1.077.151-1.524.415L11.28 8.22Z" fill="#fff"/>
    </svg>
    <div class="nav-text nav-text-two">Records</div>
  </label>

  <input type="radio" name="tab" class="sub-route hide-checkbox" id="three" />

  <label class="nav-div" for="three" id="l_three">
    <svg class="svg-icon" width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns=>
      <path class="auth-icon" d="M16.75 2.001a5.25 5.25 0 0 0-5.005 6.84l-9.068 9.38a2.344 2.344 0 1 0 3.37 3.257l8.963-9.272A5.25 5.25 0 0 0 21.797 5.8a.75.75 0 0 0-1.25-.323L17.36 8.66l-2.06-2.06 3.16-3.162a.75.75 0 0 0-.333-1.254 5.255 5.255 0 0 0-1.378-.183Z" fill="#fff"/>
    </svg>
    <div class="nav-text nav-text-three">Tools</div>
  </label>

  <input type="radio" name="tab" class="sub-route hide-checkbox" id="four" />

  <label class="nav-div" for="four" id="l_four">
    <svg class="svg-icon" width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path class="about-icon" d="M12 1.999c5.524 0 10.002 4.478 10.002 10.002 0 5.523-4.478 10.001-10.002 10.001-5.524 0-10.002-4.478-10.002-10.001C1.998 6.477 6.476 1.999 12 1.999Zm-.004 8.25a1 1 0 0 0-.992.885l-.007.116.003 5.502.007.117a1 1 0 0 0 1.987-.002L13 16.75l-.003-5.501-.007-.117a1 1 0 0 0-.994-.882ZM12 6.5a1.251 1.251 0 1 0 0 2.503A1.251 1.251 0 0 0 12 6.5Z" fill="#ffffff" />
    </svg>
    <div class="nav-text nav-text-four">About</div>
  </label>

</div>

<script>
  
const params: URLSearchParams = new URLSearchParams(window.location.search);


function updateURLForRadios(): void {
  if (document.querySelector('input[name="tab"]:checked')) {
    params.set(
      "tab",
      (document.querySelector('input[name="tab"]:checked') as HTMLInputElement).id,
    );
  }

  window.history.replaceState({}, "", `${window.location.pathname}?${params}`);
}

function setInitialRadioStates(): void {
  const tabValue = params.get("tab");

  if (tabValue) {
    const tabRadioToCheck = document.querySelector(
      `input[name="tab"][id="${tabValue}"]`,
    ) as HTMLInputElement;
    if (tabRadioToCheck) {
      tabRadioToCheck.checked = true;
    }
  }
}

setInitialRadioStates();

const allTabRadios = document.querySelectorAll('input[name="tab"]');
allTabRadios.forEach((radio) => {
  radio.addEventListener("change", updateURLForRadios);
});

</script>

<style is:global>


.svg-icon{
    width: var(--gap-x06);
    height: var(--gap-x06);
    padding: 2px;
}

.bottom-nav{
  z-index: var(--z-layer-higher);
  background-color: oklch(var(--gray-10) / 0.5);
  height: var(--gap-x10);
  justify-content: space-around;
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
}

.nav-div{
    width: var(--gap-x10);
    height: var(--gap-x08) ;
    display: flex; 
    flex-direction: column;
    justify-content: space-around; 
    justify-content: center;
    align-items: center;
}

.nav-text{
    line-height: 1;
    font-size: var(--extra-small-font); 
    text-align: center;
    color: oklch(var(--gray-95) / 0.5);
    padding-top: 2px;
}

.home-icon, .qr-icon, .auth-icon, .about-icon {
  fill: oklch(var(--gray-95) / 0.5); 
}

:root:has(#one:checked) .home-icon,  
:root:has(#two:checked) .qr-icon,  
:root:has(#three:checked) .auth-icon,  
:root:has(#four:checked) .about-icon {  
  fill: oklch(var(--primary));  
}  

:root:has(#one:checked) .nav-text-one,  
:root:has(#two:checked) .nav-text-two,  
:root:has(#three:checked) .nav-text-three,  
:root:has(#four:checked) .nav-text-four {  
  color: oklch(var(--primary));  
} 

.sub-route {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  width: 25ch;
  transition-duration: 0.2s;
  background-color: transparent;
}


.tab-content {
    display: none;
    width: 100%;
}

:root:has(#one:checked) .tab-content.one,  
:root:has(#two:checked) .tab-content.two,  
:root:has(#three:checked) .tab-content.three,  
:root:has(#four:checked) .tab-content.four {  
    display: block;  
}  


:root:has(#one:focus-visible) #l_one,
:root:has(#two:focus-visible)  #l_two ,
:root:has(#three:focus-visible) #l_three,
:root:has(#four:focus-visible)  #l_four  {
    outline: Highlight auto 1px;
    outline: -webkit-focus-ring-color auto 1px;
}

@media only screen and (min-width: 450px) {
  .bottom-nav{
    bottom: auto;
    top: var(--gap);
    height: var(--gap-x08);
    border-radius: var(--radius-c);
    width: calc(100% - var(--gap-x04) - var(--gap-x04));
    left: unset;
    right: var(--gap-x04);
    border: 1px solid oklch(var(--gray-95) / 0.04);
  }

  .grid-layout{
    margin-top: var(--gap-x10);
  }

  .nav-div {
  flex-direction: row;
  height: var(--gap-x06);
  width: calc( var(--gap-xx1) + var(--gap-x04));
  margin-top: auto;
  margin-bottom: auto;
  }

  .nav-text{
    font-size: var(--small-font);
    margin-top: auto;
    margin-bottom: auto;
    text-align: start;
    padding-inline: var(--gap);
  }

  .toast {
    margin-bottom: 0;
  }
}
</style>