---
interface Props {
	title?: string;
	iden: string;
}

const { title , iden } = Astro.props;
---



<div class="prose max-width" style="color: oklch(var(--gray-95) );" id={iden}>

	{title && (<h3 style=" margin-bottom:0; " >{title}</h3>)}

	<div class="card-border">

	    <div class="card glass box-shadow" style=" padding: var(--gap-x04);">
			<slot />
    	</div>
	</div>
</div>