<div style="display: flex;
	justify-content: space-between;
	margin-top: var(--size-md4);
	padding-bottom: var(--size-xs3);">

	<label for="char_input">Characters</label>

  	<div class="prose" style=" display: flex; gap: 0; margin-top: auto; margin-bottom: auto;">

		<select id="char_input" 
		class="number-input" 
		name="chars" 
		style="width:var(--size-lg1) ; margin-right: var(--size-xs2);">

			<option value="12"> 12 </option>
			<option value="13"> 13 </option>
			<option value="14"> 14 </option>
			<option value="15"> 15 </option>
			<option value="16" selected> 16 </option>
			<option value="17"> 17 </option>
			<option value="18"> 18 </option>
			<option value="19"> 19 </option>
			<option value="20"> 20 </option>

		</select>


    	<div style="display: inline-flex; position: relative;">

	    	<button 
	    	aria-label="Increase Word Count" 
	    	id="minus_chars" 
	    	class="not-prose tertiary-btn"
	    	style="width: var(--size-lg1); margin-right:0; border-top-right-radius:0; border-bottom-right-radius:0 ">

	      		<svg id="minus_chars_icon" style="padding:3px;" width="24" height="24" fill="none" viewBox="0 0 24 24">
	       			<path class="char-icon" d="M3.997 13H20a1 1 0 1 0 0-2H3.997a1 1 0 1 0 0 2Z" fill="#ffffff" />
	      		</svg>

	    	</button>

	    	<div class="divider"></div>

	    	<button 
	    	aria-label="Decrease Word Count" 
	    	id="plus_chars" 
	    	class="not-prose tertiary-btn"
	    	style="width: var(--size-lg1); margin-left:0; border-top-left-radius: 0; border-bottom-left-radius: 0;" >

      			<svg id="plus_chars_icon" style="padding:3px;" width="24" height="24" fill="none" viewBox="0 0 24 24">
       				<path class="char-icon" d="M11.883 3.007 12 3a1 1 0 0 1 .993.883L13 4v7h7a1 1 0 0 1 .993.883L21 12a1 1 0 0 1-.883.993L20 13h-7v7a1 1 0 0 1-.883.993L12 21a1 1 0 0 1-.993-.883L11 20v-7H4a1 1 0 0 1-.993-.883L3 12a1 1 0 0 1 .883-.993L4 11h7V4a1 1 0 0 1 .883-.993L12 3l-.117.007Z" />
      			</svg>

	    	</button>
  		</div>
	</div>
</div>


<script>
	
import { pass } from '../logic/pass';

document.getElementById("generate")!.addEventListener("input",(e)=>{
	// length input
    if((e!.target as HTMLInputElement).matches("#char_input")){
      const value = (e!.target as HTMLInputElement).value;
      pass.setLength(Number(value))
    }

   // manual password input
    if((e!.target as HTMLInputElement).matches("#mPassword")){
      const value = (e!.target as HTMLInputElement).value;
      pass.setMPassword(value);

      (document.getElementById("copyMPassword")! as HTMLInputElement).disabled = (pass.get("mPassword") === "")
    }
});

// inc and dec length
document.getElementById("generate")!.addEventListener("click",(e)=>{
    if((e!.target as HTMLInputElement).matches("#plus_chars , #plus_chars_icon")){
    	pass.incrementLength();
    }
     if((e!.target as HTMLInputElement).matches("#minus_chars, #minus_chars_icon")){
       pass.decrementLength();
       console.log("minus")
    }
});

</script>