<div id="CharactersCount" style="display: flex;
	justify-content: space-between;
	margin-block-start: var(--size-sm4);
	margin-block-end: var(--size-xs4);">

	<label for="CharactersCount-input">Characters</label>

  	<div class="prose" style=" display: flex; gap: 0; margin-top: auto; margin-bottom: auto;">

		<select id="CharactersCount-input" 
		class="number-input" 
		name="Characters count" 
		style="width:var(--size-lg1) ; 
		margin-right: var(--size-xs3); 
		background-color: oklch(var(--gray-25));
		color: oklch(var(--gray-95));
		text-align: center;">

			<option value="12"> 12 </option>
			<option value="13"> 13 </option>
			<option value="14"> 14 </option>
			<option value="15"> 15 </option>
			<option value="16"> 16 </option>
			<option value="17"> 17 </option>
			<option value="18" selected > 18 </option>
			<option value="19"> 19 </option>
			<option value="20"> 20 </option>

		</select>


    	<div style="display: inline-flex; position: relative;">

	    	<button 
	    	aria-label="Increase Word Count" 
	    	id="CharactersCount-minus" 
	    	class="not-prose secondary-btn"
	    	style="width: var(--size-lg1); margin-right:0; border-top-right-radius:0; border-bottom-right-radius:0 ">

	      		<svg style="padding:3px; pointer-events: none;" width="24" height="24" fill="none" viewBox="0 0 24 24">
	       			<path d="M3.997 13H20a1 1 0 1 0 0-2H3.997a1 1 0 1 0 0 2Z" fill="oklch(var(--gray-95) / 1);" />
	      		</svg>

	    	</button>

	    	<div class="divider"></div>

	    	<button 
	    	aria-label="Decrease Word Count" 
	    	id="CharactersCount-plus" 
	    	class="not-prose secondary-btn"
	    	style="width: var(--size-lg1); margin-left:0; border-top-left-radius: 0; border-bottom-left-radius: 0;" >

      			<svg style="padding:3px; pointer-events: none;" width="24" height="24" fill="none" viewBox="0 0 24 24">
       				<path d="M11.883 3.007 12 3a1 1 0 0 1 .993.883L13 4v7h7a1 1 0 0 1 .993.883L21 12a1 1 0 0 1-.883.993L20 13h-7v7a1 1 0 0 1-.883.993L12 21a1 1 0 0 1-.993-.883L11 20v-7H4a1 1 0 0 1-.993-.883L3 12a1 1 0 0 1 .883-.993L4 11h7V4a1 1 0 0 1 .883-.993L12 3l-.117.007Z" fill="oklch(var(--gray-95) / 1);" />
      			</svg>

	    	</button>
  		</div>
	</div>
</div>


<script>
	
import { pass } from '../logic/pass';

document.getElementById("CharactersCount")!.addEventListener("input",(e)=>{
    if((e!.target as HTMLInputElement).matches("#CharactersCount-input")){
      const value = (e!.target as HTMLInputElement).value;
      pass.setLength(Number(value))
    }
});

document.getElementById("CharactersCount")!.addEventListener("click",(e)=>{
    if((e!.target as HTMLInputElement).matches("#CharactersCount-plus")){
    	pass.incrementLength();
    }
     if((e!.target as HTMLInputElement).matches("#CharactersCount-minus")){
       pass.decrementLength();
    }
});

pass.on(["length"], ({value}) => {
  (document.getElementById("CharactersCount-input")! as HTMLInputElement).value     = value.toString();
  (document.getElementById("CharactersCount-plus")!  as HTMLInputElement).disabled  = (value >= 20);
  (document.getElementById("CharactersCount-minus")! as HTMLInputElement).disabled  = (value <= 12);
})
</script>