<div class="flex" style="margin-top: var(--gap);">

	<div style="font: var(--regular-font);">Characters:</div>	
		<div style=" display: flex; gap: 0;">
			<input 
			id="char_input"
			class="number-input"
			style="margin-right: var(--gap);"
			type="number" 
			list="quantities"
			onfocus="this.value=''" 
			min="12" max= "20" step="1" 
			onkeydown="return false" >
			<datalist id="quantities">
				<option value="12">
				<option value="13">
				<option value="14">
				<option value="15">
				<option value="16">
				<option value="17">
				<option value="18">
				<option value="19">
				<option value="20">
			</datalist>

			<button id="plus_chars" class="unstyle-button char-button "
			style="	border-top-right-radius: 0; border-bottom-right-radius: 0;">+</button>
			<button id="minus_chars" class="unstyle-button char-button"
			style="	border-top-left-radius: 0; border-bottom-left-radius: 0;">-</button>

		</div>
	</div>

<style>


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.number-input{
	font-size: var(--regular-font);
	padding: var(--medium-padding);
	display: inline-block;
	border: 1px solid transparent;
	width: calc( var(--small-clickable) * 2);
	border-radius: var(--radiu-a);
	color: var(--accent-color);
	background-color: oklch(var(--gray-fore-100) / 0.15);
	text-align: center;
}

.number-input:focus{
	background-color: oklch(var(--gray-fore-100) / 0.25);
	outline: 1px solid transparent;
}

.char-button{
	font-size: var(--regular-font);
	padding: var(--small-padding);
	width: var(--small-clickable);
	display: inline-block;
	border: 1px solid transparent;
	border-radius: var(--radiu-a);
	color: var(--accent-color);
	background-color: oklch(var(--gray-fore-100) / 0.15);
	text-align: center;
	margin: 0;
}

.char-button:disabled{
	opacity: 50%;

}

</style>




