<nav class="drw-list" id="route">

<input type="radio" name="tab" class="sub-route" id="one" checked tabindex="-1"/>
<input type="radio" name="tab" class="sub-route" id="two" />
<input type="radio" name="tab" class="sub-route" id="three" />
<input type="radio" name="tab" class="sub-route" id="four" />

</nav>

<input aria-label="theme toggle" class="sub-route bottom" id="theme-toggle"  type="checkbox" id="theme-toggle"
name="theme" style="" tabindex="-1"> 

<style is:global>

:root:has(#one:checked) #title:after {
  content: 'Home'; 
}

:root:has(#two:checked) #title:after {
  content: 'QR Code Generator'; 
}

:root:has(#three:checked) #title:after {
  content: 'Varification Code'; 
}

:root:has(#four:checked) #title:after {
  content: 'About'; 
}

.sub-route {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
  font-size:var(--regular-font);
  background-color: transparent;
  text-align: start;
  font-size: var(--regular-font);
  text-align: start;
  line-height: 2ch;
  transition-duration: 0.2s;
}

#one:after {
  content: 'Home';
  color:var(--accent-color);
  display: block;
  width: 20ch; 
}

#two:after {
  content: 'QR Code Generator';
  color:var(--accent-color); 
  display: block;
  width: 20ch; 
}

#three:after {
  content: 'Varification Code';
  color:var(--accent-color);
  display: block;
  width: 20ch;  
}

#four:after {
  content: 'About';
  color:var(--accent-color);
  display: block;
  width: 20ch;  
}

#theme-toggle:before {
  color:var(--accent-color);
  content: 'Change Theme: ☀️';
  display: block;
  width: 20ch; 
}

:root:has(#theme-toggle:checked) #theme-toggle:before {
  content: 'Change Theme: 🌙'; 
}


a {
  text-decoration: none; 
  height: 25px;
  margin:10px var(--portion); 
  margin: 100px;
}

.drw-list {
  display: flex;
  flex-direction: column;
  gap: 1ch;
  opacity: 0.1;
  transform: translateX(-50px);
}

.bottom{
    margin-bottom: 8ch; 
    margin-top: auto;
    transform: translateX(-50px);
}


:root:has(#menu:checked) .drw-list {
    transform: translateX(calc((var(--portion) - var(--small-clickable)) / 4 ));
    opacity: 1;
    transition-delay: 0.2s;
    transition-duration: 0.2s;   
}

:root:has(#menu:checked) .bottom {
    transform: translateX(calc((var(--portion) - var(--small-clickable)) / 4 ));
    opacity: 1;
    transition-delay: 0.25s;
    transition-duration: 0.2s;  
}

.tab-content {
    display: none;
    width: 100%;
}

:root:has(#one:checked) .tab-content.one {
    display: block;
}

:root:has(#two:checked) .tab-content.two {
    display: block;
}

:root:has(#three:checked) .tab-content.three {
    display: block;
}

:root:has(#four:checked) .tab-content.four {
    display: block;
}


</style>

<script>

const checkbox = document.getElementById("menu")! as HTMLInputElement;

document
    .getElementById("one")!
    .addEventListener("click", (event) => toggleCheckbox(event));
document
    .getElementById("two")!
    .addEventListener("click", (event) => toggleCheckbox(event));
document
    .getElementById("three")!
    .addEventListener("click", (event) => toggleCheckbox(event));
document
    .getElementById("four")!
    .addEventListener("click", (event) => toggleCheckbox(event));

function toggleCheckbox(event: MouseEvent) {
    if (event.detail === 1) {
        checkbox.checked = !checkbox.checked;
    }
}

document.getElementById("route")!.addEventListener("keydown", toggleOnEnter);

function toggleOnEnter(event: KeyboardEvent) {
    if (event.key === "Enter") {
        if (event.detail === 1) {
            checkbox.checked = !checkbox.checked;
            document.getElementById("one")!.tabIndex = -1;
            document.getElementById("theme-toggle")!.tabIndex = -1;
        } else {
            checkbox.checked = !checkbox.checked;
            document.getElementById("one")!.tabIndex = -1;
            document.getElementById("theme-toggle")!.tabIndex = -1;
        }
    }
}


checkbox.addEventListener("change", (e) => {
    if (checkbox.checked){
      document.getElementById("one")!.tabIndex = 0;
      document.getElementById("theme-toggle")!.tabIndex = 0;  
    } else {
      document.getElementById("one")!.tabIndex = -1;
      document.getElementById("theme-toggle")!.tabIndex = -1;
    }
});




</script>