---
import Tabs from '../components/Tabs.astro';
---

<div class="card-bg" 
style=" 
	height: calc( (var(--gap-x05) * 2 ) + ((var(--gap) * var(--x03) / 2) * 4 ) 
	+ (var(--gap-x04) * 3 ) + (var(--gap-x06) * var(--x02)) )
	"></div> 
<form autocomplete="off">
	
	<div style="position: relative;">
		<input id="key" type="text" class="k glass dent-shadow " name="Key" placeholder="Key">
		<span id="key_indic" class="key-indicator"></span>
	</div>
	
	<div  style ="position: relative; margin-bottom: var(--gap-x04);"> 
		<input id="iv" type="text" class="v glass dent-shadow " name="IV" placeholder="IV">
		<span id="iv_indic" class="key-indicator"></span>
	</div>

</form>

<Tabs name="encdec" tab1="enc" tab2="dec" content1="cenc" content2="cdec">
	<fragment slot="tab1">

		<label >
		<input id="auto_pass" type="checkbox" style="
		margin-bottom: var(--gap-x04); margin-top: var(--gap-x04);"> Use Password as Plain Text </label>
		<textarea id="plain_text" class=" glass dent-shadow" style="
		margin-bottom: var(--gap-x04);" rows="2" placeholder="Plain Text"></textarea>

		<p style=" margin-bottom: var(--gap); font-size: var(--small-font); opacity: 0.6;">Encrypted Text : </p>

		<textarea id="result_e"  style="border: 0px solid transparent;" rows="2" readonly> </textarea>

		<div class="btn-group"> 
					
			<button id="copy_e" class="prose-btn  first-btn " disabled>Copy</button>



			<input type="checkbox" id= "show_e"  data-menu="show_e" class="hide-checkbox"/>

			<label id= "l_show_e" aria-label="Show QR Code " for="show_e" 
			data-menu-label="show_qr_code" class="prose-btn last-btn disabled" 
			style="width: 17ch;"> &nbsp </label>

		</div>

		<div class="qr">
			<canvas id="eqr"></canvas>
		</div>

	</fragment>


	<fragment slot="tab2">

		<textarea id="cipher_text"  class="glass dent-shadow" rows="2" placeholder="Cipher Text"
		style="margin-top:var(--gap-x04); margin-bottom: var(--gap-x04);"></textarea>

		<p style="margin-bottom: var(--gap); font-size: var(--small-font); opacity: 0.6;">Decrypted Text : </p>

		<textarea id="result_d"  style="border: 0px solid transparent;" rows="2" readonly> </textarea>

		<div class="btn-group"> 
					
			<button id="copy_d" class="prose-btn first-btn " disabled>Copy</button>



			<input type="checkbox" id= "show_d"  data-menu="show_d" class="hide-checkbox" checked/>

			<label id="l_show_d" aria-label="Show QR Code" for="show_d" 
			data-menu-label="show_qr_code" class="prose-btn last-btn disabled" 
			style="width: 17ch;"> &nbsp </label>

		</div>

		<div class="qr">
			<canvas id="dqr"></canvas>
		</div>

	</fragment>
</Tabs>



<style is:global>


#enc:after { content: 'Encrypt';}
#dec:after { content: 'Decrypt';}

:root:has(#enc:checked) { 
	#cenc{display: block;} 
	#encdec {transform: translate3d(-5ch, 0, 0);}
}

:root:has(#dec:checked) {
 #cdec {display: block;} 
 #encdec { transform: translate3d(5ch, 0, 0);}
}


.k{
  width: 100%;
  display: inline-block;
  color: oklch(var(--gray-95) / 1);
	background: oklch(var(--gray-10) / 0.5);
	border: none;
	border-radius: var(--radius-a);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding: var(--gap) var(--gap-x04);
	padding: var(--default-padding);
	margin-bottom: 0;
	border-bottom: 0.1px solid var(--primary);
	line-height: var(--gap-x05);
}

.v{
  width: 100%;
  display: inline-block;
  color: oklch(var(--gray-95) / 1);
	background: oklch(var(--gray-10) / 0.5);
	border: none;
	border-radius: var(--radius-a);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: var(--gap) var(--gap-x04);
	padding: var(--default-padding);
	line-height: var(--gap-x05);
}
 
.k:focus,
.v:focus{
  background-color:oklch(var(--gray-10) / 1); ;
  outline: none;
}


.key-indicator {
	line-height: var(--gap-x05);
  position: absolute;
  right: calc(var(--gap) * var(--x03));
	top: calc(var(--gap) * var(--x03) / 2);
  color: #777;
  pointer-events: none;
}


.btn-group {
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--gap-x08);
}


:root:has(#auto_pass:checked) #plain_text {
	opacity: 0.5;
}


#l_show_e::after{
	content: "Show QR Code"; 
	padding:var(--default-padding);
	mix-blend-mode: normal;
}

:root:has(#show_e:checked) #l_show_e::after{
	content: "Hide QR Code"; 
}

#l_show_d::after{
	content: "Show QR Code"; 
	padding:var(--default-padding);
	mix-blend-mode: normal;	
}

:root:has(#show_d:checked) #l_show_d::after{
	content: "Hide QR Code"; 
}

#l_show_e.disabled, 
#l_show_d.disabled{
	background: oklch(var(--gray-25) / 1);
	color:oklch(var(--gray-95) / 0.6);
	box-shadow: 
  	1px 1.5px 1.5px oklch(var(--gray-50) / 0.6) ,
 		1px 2.5px 0px oklch(var(--gray-25) / 0.6 ) ;
}


#l_show_e.disabled::before, 
#l_show_d.disabled::before{
	position: absolute;
	inset: 0;
	background-color: transparent;
}

#l_show_e.disabled::after, 
#l_show_d.disabled::after{
  z-index: var(--z-layer-middle);
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg,
   oklch(0% 0 0 / 0.25) 0%, 
   oklch(40% 0 0 / 0) 8%, 
   oklch(40% 0 0 / 0) 97%,
   oklch(100% 0 0 / 0.1) 100%);
  mix-blend-mode: normal;
}


:root:has(#show_d:focus-visible) #l_show_d,
:root:has(#show_e:focus-visible) #l_show_e {
	outline: Highlight auto 1px;
  outline: -webkit-focus-ring-color auto 1px;
}

#eqr {
	display: none;
}

:root:has(#show_e:checked) #eqr {
	display: block;
}

#dqr {
	display: none;
}

:root:has(#show_d:checked) #dqr {
	display: block;
}


.qr{
	margin-left: calc(50% - 80px);
	margin-top: var(--gap-x04);
}
	
</style>