---
import Tabs from '../components/Tabs.astro';
---

<Tabs name="encdec" tab1="enc" tab2="dec" content1="cenc" content2="cdec">
  <fragment class="prose" style="color: oklch(var(--gray-95) );" slot="tab1">

    <textarea id="plain_text" class=" dent-shadow" style="
			margin-top: var(--gap-x02); margin-bottom: var(--gap-x04);" rows="2" placeholder="Plain Text"></textarea>

    <label for="result_e" style=" margin-bottom: var(--gap); font-size: var(--small-font); opacity: 0.6;">Encrypted Text : </label>

    <textarea id="result_e" rows="2" readonly> </textarea>

    <div class="flex-center-childs" style="height: var(--gap-x08); margin-top: var(--gap-x04);">
      <button id="copy_e"  disabled>Copy</button>
    </div>

  </fragment>


  <fragment class="prose" style="color: oklch(var(--gray-95) );" slot="tab2">

    <textarea id="cipher_text" rows="2" placeholder="Cipher Text"
      style="margin-top: var(--gap-x02); margin-bottom: var(--gap-x04);"></textarea>

    <label for="result_d" style="margin-bottom: var(--gap); font-size: var(--small-font); opacity: 0.6;">Decrypted Text : </label>

    <textarea id="result_d" rows="2" readonly> </textarea>

    <div class="flex-center-childs" style="height: var(--gap-x08); margin-top: var(--gap-x04);">
      <button id="copy_d"  disabled>Copy</button>
    </div>

  </fragment>
</Tabs>



<style is:global>


#enc:after { content: 'Encrypt';}
#dec:after { content: 'Decrypt';}

:root:has(#enc:checked) { 
	#cenc{display: block;} 
	#encdec {transform: translate3d(-5ch, 0, 0);}
}

:root:has(#dec:checked) {
 #cdec {display: block;} 
 #encdec { transform: translate3d(5ch, 0, 0);}
}

</style>