---
import Tabs from '../components/Tabs.astro';
---

<!-- <div class="card-bg" style=" 
	height: calc( (var(--gap-x05) * 2 ) + ((var(--gap) * var(--x03) / 2) * 4 ) 
	+ (var(--gap-x04) * 3 ) + (var(--gap-x06) * var(--x02)) )
	"></div> -->

<form autocomplete="off">

  <div style="position: relative;">
    <input id="key" type="text" class="k glass" name="Key" placeholder="Key">
    <span id="key_indic" class="key-indicator"></span>
  </div>

  <div style="position: relative; margin-bottom: var(--gap-x04);">
    <input id="iv" type="text" class="v glass" name="IV" placeholder="IV">
    <span id="iv_indic" class="key-indicator"></span>
  </div>

</form>

<Tabs name="encdec" tab1="enc" tab2="dec" content1="cenc" content2="cdec">
  <fragment class="prose" style="color: oklch(var(--gray-95) );" slot="tab1">

    <input id="auto_pass" type="checkbox" style="
			margin-bottom: var(--gap-x04); margin-top: var(--gap-x04);"> 
			<label for="auto_pass"> Use Password as Plain Text </label>

    <textarea id="plain_text" class=" dent-shadow" style="
			margin-bottom: var(--gap-x04);" rows="2" placeholder="Plain Text"></textarea>

    <label for="result_e" style=" margin-bottom: var(--gap); font-size: var(--small-font); opacity: 0.6;">Encrypted Text : </label>

    <textarea id="result_e" rows="2" readonly> </textarea>

    <div class="flex-center-childs" style="height: var(--gap-x08); margin-top: var(--gap-x04);">

      <button id="copy_e" class="first-btn " disabled>Copy</button>

      <input type="checkbox" id="show_e" data-menu="show_e" class="hide-checkbox" />
      <label id="l_show_e" aria-label="Show QR Code " for="show_e" data-menu-label="show_qr_code"
        class="prose-btn last-btn disabled" style="width: 17ch;"> &nbsp </label>

    </div>

    <div class="qr">
      <canvas id="eqr"></canvas>
    </div>

  </fragment>


  <fragment class="prose" style="color: oklch(var(--gray-95) );" slot="tab2">

    <textarea id="cipher_text" rows="2" placeholder="Cipher Text"
      style="margin-top:var(--gap-x04); margin-bottom: var(--gap-x04);"></textarea>

    <label for="result_d" style="margin-bottom: var(--gap); font-size: var(--small-font); opacity: 0.6;">Decrypted Text : </label>

    <textarea id="result_d" rows="2" readonly> </textarea>

    <div class="flex-center-childs" style="height: var(--gap-x08); margin-top: var(--gap-x04);">

      <button id="copy_d" class="first-btn " disabled>Copy</button>

      <input type="checkbox" id="show_d" data-menu="show_d" class="hide-checkbox" checked />
      <label id="l_show_d" aria-label="Show QR Code" for="show_d" data-menu-label="show_qr_code"
        class="prose-btn last-btn disabled" style="width: 17ch;"> &nbsp </label>

    </div>

    <div class="qr">
      <canvas id="dqr"></canvas>
    </div>

  </fragment>
</Tabs>



<style is:global>


#enc:after { content: 'Encrypt';}
#dec:after { content: 'Decrypt';}

:root:has(#enc:checked) { 
	#cenc{display: block;} 
	#encdec {transform: translate3d(-5ch, 0, 0);}
}

:root:has(#dec:checked) {
 #cdec {display: block;} 
 #encdec { transform: translate3d(5ch, 0, 0);}
}


.k{
	border: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 0.1px solid oklch(var(--gray-25) );
	line-height: var(--gap-x05);
}

.k:focus{
	border: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 0.1px solid oklch(var(--gray-25) );
	background: transparent;
	background-color:oklch(var(--gray-10) / 0.75); 
}

.v{
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: var(--radius-a);
	border-bottom-right-radius: var(--radius-a);
	line-height: var(--gap-x05);
}
 
.v:focus{
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background: transparent;
	background-color:oklch(var(--gray-10) / 0.75); 
}

.key-indicator {
	line-height: var(--gap-x05);
  position: absolute;
  right: calc(var(--gap) * var(--x03));
	top: calc(var(--gap) * var(--x03) / 2);
  color: #777;
  pointer-events: none;

}

:root:has(#auto_pass:checked) #plain_text {
	opacity: 0.5;
}

#l_show_e::after{
	content: "Show QR Code"; 
	padding:var(--default-padding);
	-webkit-mask: none;
   background: none;
}

:root:has(#show_e:checked) #l_show_e::after{
	content: "Hide QR Code"; 
}

#l_show_d::after{
	content: "Show QR Code"; 
	padding:var(--default-padding);
	-webkit-mask: none;
   background: none;
}

:root:has(#show_d:checked) #l_show_d::after{
	content: "Hide QR Code"; 
}

#l_show_e.disabled, 
#l_show_d.disabled{
  background: oklch(var(--gray-15) / 0.3);
  color:oklch(var(--gray-95) / 0.6);
  box-shadow: none;
  cursor: not-allowed;
}

#l_show_e.disabled::before, 
#l_show_d.disabled::before{
  content: "";
  background: linear-gradient(to bottom, oklch(45% 0 0 / 0.22) 0%, oklch(100% 0 0 / 0) 180%) ;
}


:root:has(#show_d:focus-visible) #l_show_d,
:root:has(#show_e:focus-visible) #l_show_e {
	outline: Highlight auto 1px;
  outline: -webkit-focus-ring-color auto 1px;
}

#eqr {
	display: none;
}

:root:has(#show_e:checked) #eqr {
	display: block;
}

#dqr {
	display: none;
}

:root:has(#show_d:checked) #dqr {
	display: block;
}


.qr{
	margin-left: calc(50% - 80px);
	margin-top: var(--gap-x04);
}
	
</style>