---
import Tabs from '../components/Tabs.astro';
---

<div class="card-bg" style="height: 18.7195ch;"></div> 
<form autocomplete="off">
	
	<div style="position: relative;">
		<input id="key" type="text" class="k glass dent-shadow " name="Key" placeholder="Key">
		<span id="key_indic" class="key-indicator"></span>
	</div>
	
	<div  style ="position: relative; margin-bottom: var(--bigger-gap);"> 
		<input id="iv" type="text" class="v glass dent-shadow " name="IV" placeholder="IV">
		<span id="iv_indic" class="key-indicator"></span>
	</div>

</form>

<Tabs name="encdec" tab1="enc" tab2="dec" content1="cenc" content2="cdec">
	<fragment slot="tab1">

		<label >
		<input id="auto_pass" type="checkbox" style="
		margin-bottom: var(--bigger-gap); margin-top: var(--bigger-gap);"> Use Password as Plain Text </label>
		<textarea id="plain_text" class=" glass dent-shadow" style="
		margin-bottom: var(--bigger-gap);" rows="2" placeholder="Plain Text"></textarea>

		<p style=" margin-bottom: var(--gap); font-size: var(--extra-small-font); opacity: 0.6;">Encrypted Text : </p>

		<textarea id="result_e"  style="border: 0px solid transparent;" rows="2" readonly> </textarea>

		<div class="btn-group"> 
					
			<button id="copy_e" class="toggle-button active first disabled" >Copy</button>



			<input type="checkbox" id= "show_e"  data-menu="show_e"
			style="opacity: 0; pointer-events: none;position: absolute"/>

			<label id= "l_show_e" aria-label="Show QR Code " for="show_e" 
			data-menu-label="show_qr_code" class="toggle-button last active disabled" 
			style="width: 17ch;"> &nbsp </label>

		</div>

		<div class="qr">
			<canvas id="eqr"></canvas>
		</div>

	</fragment>


	<fragment slot="tab2">

		<textarea id="cipher_text"  class="glass dent-shadow" rows="2" placeholder="Cipher Text"
		style="margin-top:var(--bigger-gap); margin-bottom: var(--bigger-gap);"></textarea>

		<p style="margin-bottom: var(--gap); font-size: var(--extra-small-font); opacity: 0.6;">Decrypted Text : </p>

		<textarea id="result_d"  style="border: 0px solid transparent;" rows="2" readonly> </textarea>

		<div class="btn-group"> 
					
			<button id="copy_d" class="toggle-button active first  disabled" >Copy</button>



			<input type="checkbox" id= "show_d"  data-menu="show_d"
			style="opacity: 0; pointer-events: none;position: absolute" checked/>

			<label id="l_show_d" aria-label="Show QR Code" for="show_d" 
			data-menu-label="show_qr_code" class="toggle-button last active disabled" 
			style="width: 17ch;"> &nbsp </label>

		</div>

		<div class="qr">
			<canvas id="dqr"></canvas>
		</div>

	</fragment>
</Tabs>



<style is:global>


#enc:after { content: 'Encrypt';}
#dec:after { content: 'Decrypt';}

:root:has(#enc:checked) { 
	#cenc{display: block;} 
	#encdec {transform: translate3d(-5ch, 0, 0);}
}

:root:has(#dec:checked) {
 #cdec {display: block;} 
 #encdec { transform: translate3d(5ch, 0, 0);}
}


.k{
  font-size: var(--regular-font);
  width: 100%;
  display: inline-block;
  color: var(--accent-color);

	background: var(--transparent-bg);
	border: none;
	border-radius: var(--radiu-a);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding: 0.95ch 1.5ch;
	margin-bottom: 0;
	border-bottom: 0.1px solid var(--primary);
}

.v{
	font-size: var(--regular-font);
  width: 100%;
  display: inline-block;
  color: var(--accent-color);

	background: var(--transparent-bg);
	border: none;
	border-radius: var(--radiu-a);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 0.95ch 1.5ch;
}
 
.k:focus,
.v:focus{
  background-color:var(--select-color) ;
  outline: none;
	background: var(--input-bg-focus);
}


.key-indicator {
	font-size: var(--regular-font);
	line-height: var(--text-height);
  position: absolute;
  right: 1.5ch;
	top: 0.95ch;
  color: #777;
  pointer-events: none;
}


.btn-group {
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--portion);
}


:root:has(#auto_pass:checked) #plain_text {
	opacity: 0.5;
}


#l_show_e::after{
	content: "Show QR Code"; 
	text-align: center;
	inset: 0;
	padding:var(--default-padding);	

}

:root:has(#show_e:checked) #l_show_e::after{
	content: "Hide QR Code"; 
}

#l_show_d::after{
	content: "Show QR Code"; 
	text-align: center;
	inset: 0;
	padding:var(--default-padding);	

}

:root:has(#show_d:checked) #l_show_d::after{
	content: "Hide QR Code"; 
}


:root:has(#show_d:focus-visible) #l_show_d,
:root:has(#show_e:focus-visible) #l_show_e {
	outline: Highlight auto 1px;
  outline: -webkit-focus-ring-color auto 1px;
}

#eqr {
	display: none;
}

:root:has(#show_e:checked) #eqr {
	display: block;
}

#dqr {
	display: none;
}

:root:has(#show_d:checked) #dqr {
	display: block;
}


.qr{
	margin-left: calc(50% - 80px);
	margin-top: 2ch;
}
	
</style>