---
import RangeSlider from '../components/RangeSlider.astro';
import Tabs from '../components/Tabs.astro';
---
<div id ="maina">
   <Tabs tab1="random" tab2="manual" content1="crandom" content2="cmanual">

      <fragment slot="tab1">
      hi
      </fragment>

      <fragment slot="tab2">
      hello
      </fragment>

   </Tabs>
   <RangeSlider/>


<div id = "gp">  <div class = "skeleton"> </div> </div>
<div id = "gu">  <div class = "skeleton"> </div> </div>
<div id = "s1">  <div class = "skeleton"> </div> </div>
<div id = "s2">  <div class = "skeleton"> </div> </div>
<div class = "skeleton"> </div>

</div>


<style is:global>

#random:after {
  content: 'Random';
}

#manual:after {
  content: 'Manual';
}



:root:has(#random:checked) #crandom  {
   display: block;
}

:root:has(#manual:checked) #cmanual {
   display: block;
}



.skeleton{
   font-size: inherit;
   height: 1.5ch;
   width: 30ch;
   margin: 0.75ch 0;
   border-radius: 4ch;
   background-color: oklch(0.8 0 0 / 0.4);
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, .5) 50%,
    rgba(255, 255, 255, 0) 60%
  ) oklch(0.8 0 0 / 0.4);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;

}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}


</style>
