---
import Tabs from '../components/ui/Tabs.astro';
import CharactersCount from '../components/CharactersCount.astro';
import CharactersPattern from '../components/CharactersPattern.astro'; 
import Drawer from '../components/ui/Drawer.tsx';
import TempList from '../components/TempList.astro';
---

<Tabs name="pass" tab1Label="Random" tab2Label="Manual" >

  <fragment slot="tab1">
    <CharactersCount />
    <CharactersPattern />


    <div class="flex-center-childs not-prose " style=" position: relative;">
      <div id="add-drawer-trigger" class="text-as-button blink" style="left:0;">
        
        <Drawer client:load>
          <fragment slot="trigger">
            <svg width="24" height="24" fill="none" style="padding: 1px;" viewBox="0 0 24 24">
              <path d="M11.75 3a.75.75 0 0 1 .743.648l.007.102.001 7.25h7.253a.75.75 0 0 1 .102 1.493l-.102.007h-7.253l.002 7.25a.75.75 0 0 1-1.493.101l-.007-.102-.002-7.249H3.752a.75.75 0 0 1-.102-1.493L3.752 11h7.25L11 3.75a.75.75 0 0 1 .75-.75Z" fill="oklch(var(--gray-95))"/>
            </svg>
          </fragment>
          <fragment slot="content"><TempList /></fragment>
          
        </Drawer>
      </div>

      <button id="gp" class="text-as-button" style=" margin-inline: 0;
        margin-top: var(--gap-x04); 
        margin-bottom: var(--gap-x04); 
        line-height: var(--gap-x05);
        font-weight: 300;
        font-size:var(--font-lg1);">
        <div class="skeleton" style="width:15ch"> </div>
      </button>

      <button id="redo" class="redo_container text-as-button blink" style="right: 0; margin-right: calc(var(--gap)* -1);" >↻</button>

      <p id="ttc" class="hint" style="margin-top: var(--gap-x04); 
      margin-bottom: var(--gap-x04);
      position: absolute;
      width: 18ch;
      right: calc(50% - 9ch );
      text-align: center;
      line-height: var(--gap-x06);
      top : calc(var(--gap-x07) * var(--x02));"> tap to copy </p>

    </div>
  </fragment>


  <fragment slot="tab2">
    <div class=" prose" style="display: flex;
      gap: var(--gap);
      justify-content: space-between;
      margin:var(--gap-x04) 0">
      <input autocomplete="off" id="mPassword" type="text" style="
        margin-bottom: var(--gap);" placeholder="Password">
      <button id="copyMPassword" style="margin-bottom:var(--gap);" disabled> Copy </button>
    </div>
  </fragment>
</Tabs>

<div style=" margin-top:var(--gap-x04); margin-bottom: var(--gap); overflow: hidden">

  <div id="gu" class="skeleton-parrent">
    <div style="width:15ch;" class="skeleton"> </div>
  </div>

  <div style="position:relative; height:var(--gap); place-content:center">
    <div style="position: absolute; top: var(--gap-xxs);" id="box-place-holder"></div>
    <div style="position: absolute; top: var(--gap-xxs);" id="box"></div> 
  </div>

  <div id="s1" class="skeleton-parrent">
    <div style="width:80% ;" class="skeleton"> </div>
  </div>
  
  <div id="s2" class="skeleton-parrent">
    <div style="width:65% ;" class="skeleton"> </div>
  </div>

</div>

<details name="encrypted password" class="prose" >
  <summary>Encrypted Password</summary>
  <button id="encrypted-pass" class="skeleton-parrent not-prose text-as-button" disabled>
    <div style="width:15ch;" class="skeleton"> </div>
  </button>
  <button id="encrypted-pass-copy" class="hint not-prose" style="display: block;"></button>
</details>


<style is:global>

#redo,
#add-drawer-trigger {
  display: flex;
  place-content: center;
  position: absolute;
  font-size:var(--font-lg1); 
  font-weight: 300; 
  margin-top: var(--gap-x04); 
  margin-bottom: var(--gap-x04);
}

.text-as-button{
  border: 1px solid transparent;
  border-radius: var(--radius-a);
  padding: var(--thin-padding);
  color: oklch(var(--gray-95));
  opacity: 1;
  margin-left: calc( var(--gap) * -1);
}

.text-as-button:disabled{
  color: oklch(var(--gray-75));
}



.text-as-button:focus,
.text-as-button:hover {
  border: 1px solid oklch(var(--gray-25) / 1);
}


#box {
  display: flex;
  align-items: center;
  transition: width 0.2s, background-color 0.2s, background-position 0.2s ;
  border-radius: var(--radius-a);
  background-color: red; 
  height: 0.3ch;
  background-image: linear-gradient(to right, #f21616, #f02f11, #d47a20, #719deb, #6977e3, #7643b1, #5d43b1);
  background-clip: content-box;
  background-size: 300% var(--gap);
  --box-w: 36%;
  --box-p: 0%;
  width: var(--box-w);
  background-position: var(--box-p);
  place-content: baseline;
}

#box-place-holder{
  display: flex;
  border-radius: var(--radius-a);
  align-items: center;
  background-color: oklch( var(--gray-95) / 0.2); 
  height: 0.3ch;
  width: 100% ;
  box-shadow: inset 0px 1px 2px oklch(0% 0 0 / 0.3) ;
}

</style>