---
import Tabs from '../components/Tabs.astro';
import RangeSlider from '../components/RangeSlider.astro';
import ToggleGroup from '../components/ToggleGroup.astro';

---

  <div class="card-bg"> </div>
   <Tabs name="pass" tab1="random" tab2="manual" content1="crandom" content2="cmanual">

      <fragment slot="tab1">
       <RangeSlider/>
       <ToggleGroup/>

        <div class="center" style="overflow: hidden;" >
          <button  id = "gp" class=" unstyle-button copy" style="
          margin-top: var(--bigger-gap); margin-bottom: var(--bigger-gap); line-height: var(--text-height);">
            <div class = "skeleton" style="width:15ch"> </div> 
          </button>

          <button  id = "redo" class=" unstyle-button redo_container" style="
            font-size:var(--big-font); font-weight: 300; 
            margin-top: var(--bigger-gap); margin-bottom: var(--bigger-gap);">↻
          </button> 
          <p id="ttc" class="hint" style="
            margin-top: var(--bigger-gap); margin-bottom: var(--bigger-gap);
            position: absolute;
            width: 18ch;
            right: calc(50% - 9ch );
            text-align: center;
            top : 5.5ch;"> tap to copy </p>
        </div>
      </fragment>



      <fragment slot="tab2">
        <div class="flex" style="margin:var(--bigger-gap) 0">
          <form autocomplete="off">
            <input id="mPassword" type="text" class="input glass dent-shadow" style="
            margin-bottom: var(--gap);" placeholder="Password" >
          </form>
          <button id="copyMPassword" class="toggle-button active single disabled" style="
          margin-bottom:var(--gap);"> Copy </button> 
        </div>
      </fragment>

   </Tabs>

  <div style="font-size: var(--regular-font); margin-top:2ch; margin-bottom: 2ch; overflow: hidden">
    <div id = "gu" class="skeleton-parrent">  <div style="width:15ch;" class = "skeleton"> </div> </div>
    <p id="box" class="box"></p>
    <div id = "s1" class="skeleton-parrent">  <div style="width:80% ;" class = "skeleton"> </div> </div>
    <div id = "s2" class="skeleton-parrent">  <div style="width:65% ;" class = "skeleton"> </div> </div>
  </div>


<style is:global>

#random:after {
  content: 'Random';
}

#manual:after {
  content: 'Manual';
}


:root:has(#random:checked) { 
  #crandom{ display: block; } 
  #pass { transform: translate3d(-5ch, 0, 0);}
}

:root:has(#manual:checked) {
  #cmanual { display: block;} 
  #pass { transform: translate3d(5ch, 0, 0);}
}

.center {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

}
.unstyle-button{
  background: none;
  border: none;
  box-shadow: none;
  color:var(--accent-color);
  cursor: pointer;
}

.copy{
  border: 1px solid oklch(1 0 0 /0.0);
  border-radius: var(--radiu-a);
  padding: var(--thin-padding);
  line-height: 2ch;
  font-weight: 300;
  font-size:var(--big-font);
}

.redo_container{
  place-content: center;
  border: 1px solid oklch(1 0 0 /0.0);
  border-radius: var(--radiu-a);
  line-height: var(--text-height);
  position: absolute;
  right: 0ch;
  padding: var(--thin-padding);

}

.redo_container:focus,
.redo_container:hover{
  border: 1px solid var(--main-border);
}

.copy:focus,
.copy:hover{
  border: 1px solid var(--main-border);
  border-radius: var(--radiu-a);
}

.hint{
  border: 1px solid oklch(1 0 0 /0.0);

  opacity: 0.6;
  font-size:var(--extra-small-font); 
  font-weight: 300; 
}

.box {
    display: flex;
    align-items: center;
    transition: width 0.2s, background-color 0.2s, background-position 0.2s ;
    border-radius: var(--radiu-a);
    background-color: red; 
    margin-bottom: 10px;
    height: 0.3ch;
    margin-top: 0.5ch;
    background-image: linear-gradient(to right, #f21616, #f02f11, #d47a20, #719deb, #6977e3, #7643b1, #5d43b1);
    background-clip: content-box;
    background-size: 300% 1ch;
    --box-w: 36%;
    --box-p: 0%;
    width: var(--box-w);
    background-position: var(--box-p);
  }
</style>