<form autocomplete="off" id="KeyIv" >
    <section style="position: relative;">

        <input
            id="KeyIv-k-input"
            type="text"
            name="Key"
            placeholder="Key"/>

        <span id="KeyIv-k-chars" style="top :calc( (var(--size-md3) - var(--size-sm4)) / 2);"></span> 

        <input
            id="KeyIv-i-input"
            type="text"
            name="IV"
            placeholder="IV"/>

        <span id="KeyIv-i-chars" style="bottom: calc( (var(--size-md3) - var(--size-sm4)) / 2);" ></span>

    </section>
</form>

<style>

#KeyIv-k-chars, #KeyIv-i-chars {
  position: absolute;
  right: var(--size-sm2);
  pointer-events: none;
}

</style>


<script>
    
import { count_characters } from "../pkg/rust_lib";
import { pass } from '../logic/pass';


const keyIv = document.getElementById("KeyIv")  as HTMLElement;


keyIv.addEventListener("input",(e)=>{
    if((e!.target as HTMLInputElement).matches("#KeyIv-k-input")){
        const value = (e!.target as HTMLInputElement).value;
        pass.setKey(value.toString())
        document.getElementById("KeyIv-k-chars")!.textContent = count_characters(pass.get("key"));
    }
    if((e!.target as HTMLInputElement).matches("#KeyIv-i-input")){
        const value = (e!.target as HTMLInputElement).value;
        pass.setIV(value.toString())
        document.getElementById("KeyIv-i-chars")!.textContent = count_characters(pass.get("iv"));
    }
});

</script>
