<div class="glass drw-bg" style="
z-index: var(--z-layer-higher);
background-color: var(--transparent-bg);
width: 100%;
position: fixed;
top: 0;
left: 0;
display: flex;
flex-direction: column;
">

	<div  style="
	height: var(--portion);
	font-size: var(--regular-font);
	align-items: center;
	gap: var(--gap);
	width: 100%;
	padding: var(--gap) var(--bigger-gap);
	display: flex;
	position: fixed;
	top: 0;
	left: 0">

		<div id="title" style="
		margin-right: auto;
		font-size:var(--big-font);">
		</div>

		<input type="checkbox" name="menu" id="menu" data-menu="menu" style="
        opacity: 0; pointer-events: none;position: absolute" />

		<label aria-label="Menu Drawer" for="menu" data-menu-label="menu" style="
		cursor: pointer;
		width: var(--portion);
		height: var(--portion);
        margin-inline: calc((var(--small-clickable) - var(--portion)) / 2 );
		background: 0 0;
		border: none;
		place-content: center;
		padding: 0;
		display: flex;
		position: relative">

			<div id="line1" class="line line1"></div>
			<div id="line2" class="line line2"></div>
	    </label>
	</div>

	<nav class="drw-list" id="route">

	<input type="radio" name="tab" class="sub-route" id="one" checked tabindex="-1"/>
	<input type="radio" name="tab" class="sub-route" id="two" />
	<input type="radio" name="tab" class="sub-route" id="three" />
	<input type="radio" name="tab" class="sub-route" id="four" />

	</nav>

	<input aria-label="theme toggle" class="sub-route bottom" id="theme-toggle"  type="checkbox" 
	id="theme-toggle" name="theme" style="" tabindex="-1"> 

</div>


<style is:global>

.drw-bg{
  height: var(--portion);
  transition-duration:0.2s;
}

:root:has(#menu:checked) .drw-bg {
  height: 100% ;  
}

[data-menu=menu]:focus-visible ~ [data-menu-label=menu] {
  outline: Highlight auto 1px;
  outline: -webkit-focus-ring-color auto 1px;
 
}

.line {
  position: absolute;
  width: var(--small-clickable);
  height: 1.4px;
  background: var(--accent-color);
  transition: transform 0.3s ease;
  border-radius: 2ch;
}

.line1 {
top: calc(50% - 5px);
}

.line2 {
top: calc(50% + 5px);
}

:root:has(#menu:checked) .line1 {
    transform: rotate(-45deg) translate(0, 7.1px);
}

:root:has(#menu:checked) .line2 {
    transform: rotate(45deg) translate(0, -7.1px);
}

.sub-route {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  width: 25ch;
  font-size:var(--regular-font);
  transition-duration: 0.2s;
  background-color: transparent;
}

.sub-route::after{
  color:var(--accent-color);
  display: block;
  width: 20ch; 
  background-color: transparent;
}

.drw-list {
  display: flex;
  flex-direction: column;
  gap: 1ch;
  opacity: 0;
  transform: translateX(-30ch);
  margin-top: calc(var(--portion) + var(--bigger-gap));
  margin-inline: var(--bigger-gap);
  width: 25ch;
}

.bottom{
    margin-bottom: var(--portion); 
    margin-top: auto;
    margin-inline: var(--bigger-gap);
    opacity: 0;
    width: 25ch;
    transform: translateX(-30ch);
    background-color: transparent;
}

:root:has(#menu:checked) .drw-list {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.2s;
    transition-duration: 0.2s;   
}

:root:has(#menu:checked) .bottom {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.2s;
    transition-duration: 0.32s;  
}

:root:has(#one:checked) #title:after {
  content: 'Home'; 
}

:root:has(#two:checked) #title:after {
  content: 'QR Code Generator'; 
}

:root:has(#three:checked) #title:after {
  content: 'Varification Code'; 
}

:root:has(#four:checked) #title:after {
  content: 'About'; 
}


#one:after {
  content: 'Home';
}

#two:after {
  content: 'QR Code Generator';
}

#three:after {
  content: 'Varification Code'; 
}

#four:after {
  content: 'About'; 
}

.tab-content {
    display: none;
    width: 100%;
}

:root:has(#one:checked) .tab-content.one {
    display: block;
}

:root:has(#two:checked) .tab-content.two {
    display: block;
}

:root:has(#three:checked) .tab-content.three {
    display: block;
}

:root:has(#four:checked) .tab-content.four {
    display: block;
}

</style>

<script>

const checkbox = document.getElementById("menu")! as HTMLInputElement;

document.getElementById("route")!
    .addEventListener("click", (event) => toggleCheckbox(event));


function toggleCheckbox(event: MouseEvent) {
    if (event.detail === 1) {
        checkbox.checked = !checkbox.checked;
    }
}

document.getElementById("route")!.addEventListener("keydown", toggleOnEnter);

function tabindexoff() {
    document.getElementById("one")!.tabIndex = -1;
    document.getElementById("two")!.tabIndex = -1;
    document.getElementById("three")!.tabIndex = -1;
    document.getElementById("four")!.tabIndex = -1;
    document.getElementById("theme-toggle")!.tabIndex = -1;
}

function tabindexon() {
    document.getElementById("one")!.tabIndex = 0;
    document.getElementById("two")!.tabIndex = 0;
    document.getElementById("three")!.tabIndex = 0;
    document.getElementById("four")!.tabIndex = -0;
    document.getElementById("theme-toggle")!.tabIndex = 0;
}

function toggleOnEnter(event: KeyboardEvent) {
    if (event.key === "Enter") {
        checkbox.checked = !checkbox.checked;
        tabindexoff();
    }
}


checkbox.addEventListener("change", (e) => {
    if (checkbox.checked){
      tabindexon()  
    } else {
      tabindexoff();
    }
});

</script>