<div class="glass drw-bg" style="
z-index: var(--z-layer-higher);
background-color: var(--transparent-bg);
width: 100%;
position: fixed;
top: 0;
left: 0;
display: flex;
flex-direction: column;
">

	<div  style="
	height: var(--portion);
	font-size: var(--regular-font);
	align-items: center;
	gap: 1ch;
	width: 100%;
	padding: 1ch;
	display: flex;
	position: fixed;
	top: 0;
	left: 0">


		<div id="title" style="
		margin-inline: calc((var(--portion) - var(--small-clickable)) / 4 ); 
		margin-right: auto;
		font-size:var(--big-font);">
		</div>

		<input type="checkbox" name="menu" id="menu" data-menu="menu" 
		style="opacity: 0; pointer-events: none;position: absolute" />

		<label aria-label="Menu Drawer" for="menu" data-menu-label="menu" style="
		cursor: pointer;
		width: var(--portion);
		height: var(--portion);
		background: 0 0;
		border: none;
		place-content: center;
		padding: 0;
		display: flex;
		position: relative">

			<div id="line1" class="line line1"></div>
			<div id="line2" class="line line2"></div>
	    </label>
	</div>

	<slot/>

</div>



<style is:global>


.drw-bg{
	height: var(--portion);
	transition-duration:0.2s;
}

:root:has(#menu:checked) .drw-bg {
    height: 100% ;  
}

[data-menu=menu]:focus-visible ~ [data-menu-label=menu] {
  outline: Highlight auto 1px;
  outline: -webkit-focus-ring-color auto 1px;
 
}

.line {
	position: absolute;
	width: var(--small-clickable);
	height: 2px;
	background: var(--accent-color);
	transition: transform 0.3s ease;
	border-radius: 2ch;

}

.line1 {
top: calc(50% - 5px);
}

.line2 {
top: calc(50% + 5px);
}

:root:has(#menu:checked) .line1 {
    transform: rotate(-45deg) translate(0, 7.1px);
}

:root:has(#menu:checked) .line2 {
    transform: rotate(45deg) translate(0, -7.1px);
}

</style>