<fieldset id="generateQR"> <legend>Generate QR Code</legend>
   <textarea id="text_for_qr" rows="2" 
       placeholder="Please enter some text"></textarea>

   <div class="qr" style=" margin-left: calc(50% - 80px); margin-top: var(--size-sm3);">
   	<canvas id="gqr" style="width: 0;"></canvas>
   </div>
</fieldset>

<script>
import QRCode from 'qrcode'
	
document.getElementById("generateQR")!.addEventListener("input",(e)=>{
   if((e!.target as HTMLInputElement).matches("#text_for_qr")){
      const value = (e!.target as HTMLInputElement).value;
      if (value === "") {
          document.getElementById("gqr")!.style.height = "0"
      } else {
      document.getElementById("gqr")!.style.height = "160px"
      QRCode.toCanvas(
         document.getElementById("gqr")!,
         value,
         { width: 160, margin: 1 },
         );
      }
   }
});

</script>
