---
import Drawer from '../components/ui/Drawer.tsx';
---

<div class="ZStack"style="margin-bottom: var(--size-md2); width: min(100%, var(--size-xl7));">
    <menu>
        <li>
            <Drawer id='RecentDelPass' direction='right'>

                <fragment slot="trigger" class="prose"> 

                    <div class="HStack" 
                        style="line-height: var(--size-sm4);
                        color: white;">
                        <div>Recently Deleted</div>
                        <div style="flex: 1;"></div>
                        <svg style="padding: 2px" width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M8.293 4.293a1 1 0 0 0 0 1.414L14.586 12l-6.293 6.293a1 1 0 1 0 1.414 1.414l7-7a1 1 0 0 0 0-1.414l-7-7a1 1 0 0 0-1.414 0Z" fill="oklch(var(--gray-95) / 0.5)"/></svg>
                    </div>

                </fragment>

                <fragment slot="title" style="font-weight: 500;">Recently Deleted</fragment>

                <Fragment slot="content" class="prose" >

                        <fieldset 
                            class="box-shadow" 
                            style="padding: 0; color: oklch(var(--gray-95));">

                            <menu id="RecentDelPass-list" style="background: transparent;">
                                <small style="padding-block: var(--size-sm3);">No records found</small>
                            </menu>

                        </fieldset>

                    <dialog id="RecentDelPass-restore">
                        <form method="dialog">           

                            <h3 style="margin-top: 0;">Restore Item</h3>

                            <div id="RecentDelPass-restore-item"
                                style="display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                background: oklch(var(--gray-10) / 20%);
                                border-radius: var(--radius-s);
                                padding: var(--size-sm1);">

                                <small id="RecentDelPass-restore-item-title" style="margin:0"></small>      
                                <div id="RecentDelPass-restore-item-password" class="ellipsis"></div>
                                    
                            </div>

                            <div class="HStack" style="margin-top:var(--size-sm3);">
                              
                              <button style="width: var(--stretch);" class="not-prose" >Cancel</button>
                              <button style="width: var(--stretch);" id="RecentDelPass-restore-ok">Restore</button>
                          
                            </div>
                        </form>
                    </dialog>
                </Fragment>
            </Drawer>
        </li>
    </menu>    
</div>


<script>

import { dbCreate, dbDelete, toRecordId, type ReadAllResultTypes } from "../utils/surrealdb-indexed";
import { tempList } from "../logic/tempList.ts" 
import { render } from "solid-js/web"
import { initDrawer } from "./ui/drawer"
import RecentDelPassItems from "./RecentDelPass"


initDrawer("RecentDelPass");

tempList.updateRecentDelEntries();


const recentdellist = document.getElementById("RecentDelPass-list")   as HTMLElement;

function getList(list? : ReadAllResultTypes["RecentDelPass"] | []) {
  return (list ?? []).sort( (a, b) => new Date(b.createdAt).getTime() - new Date(a.createdAt).getTime())
}

let dispose = render(() => RecentDelPassItems(getList()), recentdellist)

tempList.on(["recentDelEntries"], ({value}) => {
    dispose();
    dispose = render(() => RecentDelPassItems(getList(value)), recentdellist)
});


//confirm restore
document.getElementById("RecentDelPass-restore")!.addEventListener("click", (e) => {
if((e!.target as HTMLInputElement).matches("#RecentDelPass-restore-ok")) {
  (async () => {

    const id =        document.getElementById("RecentDelPass-restore-item")?.dataset.id ?? "" ;
    const createdAt = document.getElementById("RecentDelPass-restore-item")?.dataset.date ?? "";
    const title =     document.getElementById("RecentDelPass-restore-item-title")?.textContent ?? "";
    const password =  document.getElementById("RecentDelPass-restore-item-password")?.textContent ??"";

    const rId = toRecordId( id,"RecentDelPass");

    if (title && password && rId && createdAt ) {
      await dbCreate("PasswordEntry:create", {title:title, password:password, createdAt: createdAt });
      await dbDelete(rId);

      tempList.updateEntries();
      tempList.updateRecentDelEntries();
    }
  })();
}
});

</script>