---
import DrawerFromRight from './ui/DrawerFromRght';
---

<div class="max-width flex-center-childs prose"style="margin-bottom: var(--size-md2);">
    <DrawerFromRight client:load>

        <fragment slot="trigger">
            <menu>
                <li style="border-radius: var(--radius-a);margin-inline: auto; width: min( calc(100cqw - (var(--size-sm1) * 2)) , var(--size-xl7));">
                    <div>Recently Deleted</div>
                    <svg style="padding: 2px" width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M8.293 4.293a1 1 0 0 0 0 1.414L14.586 12l-6.293 6.293a1 1 0 1 0 1.414 1.414l7-7a1 1 0 0 0 0-1.414l-7-7a1 1 0 0 0-1.414 0Z" fill="oklch(var(--gray-95) / 0.5)"/></svg>

                </li>
            </menu>
        </fragment>

        <fragment slot="content" class="prose">

            <div 
            data-corvu-no-drag 
            class=" prose drawer-content" 
            style="margin-left: var(--size-sm2);" >

                <fieldset 
                    class="box-shadow" 
                    style="padding: 0; color: oklch(var(--gray-95)); margin-left: calc(var(--size-sm2) * -1);">

                    <menu id="recent-del-list">
                        <small style="padding-block: var(--size-sm3);">No records found</small>
                    </menu>

                </fieldset>
            </div> 

            <dialog id="restore-dialog">
                <form method="dialog">           

                    <h3 style="margin-top: 0;">Restore Item</h3>

                    <div 
                        id="restore-list"
                        style="display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        background: oklch(var(--gray-10) / 20%);
                        border-radius: var(--radius-a);
                        padding: var(--size-sm1);"></div>

                    <div 
                        class="flex-center-childs" 
                        style="gap:var(--size-sm0);
                        margin-top:var(--size-sm3);">
                      
                      <button class="not-prose max-width" >Cancel</button>
                      <button class="max-width" id="confirm-restore">Restore</button>
                  
                    </div>
                </form>
            </dialog>
        </fragment>
    </DrawerFromRight>
</div>