---
import DrawerFromRight from './ui/DrawerFromRght';
import Dialog from "../components/ui/Dialog.astro"
---

<div class="max-width flex-center-childs"style="margin-bottom: var(--size-md2);">
  <DrawerFromRight client:load>

    <fragment slot="trigger">
      <div class='menu-item' style="border-radius: var(--radius-a);margin-inline: auto;">
          <div>Recently Deleted</div>
          <svg style="padding: 2px" width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M8.293 4.293a1 1 0 0 0 0 1.414L14.586 12l-6.293 6.293a1 1 0 1 0 1.414 1.414l7-7a1 1 0 0 0 0-1.414l-7-7a1 1 0 0 0-1.414 0Z" fill="oklch(var(--gray-95) / 0.5)"/></svg>
      </div>
    </fragment>

    <fragment slot="content">
        <div data-corvu-no-drag style="margin-left: var(--size-sm2);
        position:absolute;
        inset:0;
        top:var(--size-sm4);
        height: calc(var(--drawer-heigt) - var(--size-sm4));
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        gap: var(--size-sm3); 
        overflow-y: scroll;
        padding-top: var(--size-sm1);
        padding-inline: var(--size-sm1);
        max-width: 100%;
        overflow-x: hidden;" >
          <div class="card-border"  style="margin-left: calc(var(--size-sm2)* -1);">
            <div class="card glass box-shadow max-width">
              <div  class="entries-list" id="recent-del-list">
                <p class="hint" style="padding-block: var(--size-sm3);">No records found</p>
              </div>
            </div>
          </div>
        </div> 
      <Dialog identifier="restore-dialog">
        <h3 style="margin-top: 0;">Restore Item</h3>
        <div id="restore-list"style="display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: oklch(var(--gray-10) / 20%);
        border-radius: var(--radius-a);
        padding: var(--size-sm1);"></div>
        <div class="flex-center-childs" style="gap:var(--size-sm0);margin-top:var(--size-sm3);">
          
          <button class="unstyle-button not-prose max-width" >Cancel</button>
          <button class="max-width" id="confirm-restore">Restore</button>
          
        </div>
      </Dialog>
    </fragment>
  </DrawerFromRight>
</div>
