<div id="RecordCards-list">
    <div class="skeleton"></div>
</div>

<script>

import { render } from "solid-js/web";
import { RecordCards } from './RecordCards';
import { records } from "../logic/records"  

records.on(["selectedVault"], pl => {records.updateCardsList()})

records.on(["cardsList"], ({value}) => { (async () => {

    const cardsArray = document.getElementById("RecordCards-list")!;
    cardsArray.textContent = "";
    
    const availableCards = (value ?? []).filter(item => item.status === "available");

    availableCards.sort((a, b) => new Date(b.updatedAt).getTime() - new Date(a.updatedAt).getTime())
    .forEach((entry) => {
      render(() => RecordCards(entry), cardsArray);
    });

})();});
</script>