---
import Card from './ui/Card.astro';
import VaultMenu from './ui/Menu.tsx';
import Dialog from './ui/Dialog.astro';
---

<Card title="credentials" iden='credentials'>

  <div id="credentialsDiv"> <div class="skeleton"></div></div>

  <div id="auth_result"></div>


  <div class="flex-spread-childs" style="padding-block: var(--gap);">
    <p style="margin: 0;">Vaults :</p>
      <div class="not-prose">
        <VaultMenu client:load>
          <div class='entries-list glass' id="vault-menu" style= "width: 25ch; border-radius: var(--radius-b); box-shadow: 0px 0px 120px 10px oklch(var(--gray-10) / 30%);">
                  
            <button id="vault-create" class='menu-item'>
            <div style="pointer-events: none;" > Creat vault </div> <svg style='width: var(--gap-x04); pointer-events: none;'  fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2Zm0 1.5a8.5 8.5 0 1 0 0 17 8.5 8.5 0 0 0 0-17ZM12 7a.75.75 0 0 1 .75.75v3.5h3.5a.75.75 0 0 1 0 1.5h-3.5v3.5a.75.75 0 0 1-1.5 0v-3.5h-3.5a.75.75 0 0 1 0-1.5h3.5v-3.5A.75.75 0 0 1 12 7Z" fill="oklch (var(--gray-95))"/></svg>
            </button>

            <button class='menu-item'>
            <div style="pointer-events: none;" > Import existing Vault </div> <svg style='width: var(--gap-x04);pointer-events: none;' fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M6.087 7.75a5.752 5.752 0 0 1 11.326 0h.087a4 4 0 0 1 3.962 4.552 6.534 6.534 0 0 0-1.597-1.364A2.501 2.501 0 0 0 17.5 9.25h-.756a.75.75 0 0 1-.75-.713 4.25 4.25 0 0 0-8.489 0 .75.75 0 0 1-.749.713H6a2.5 2.5 0 0 0 0 5h4.4a6.458 6.458 0 0 0-.357 1.5H6a4 4 0 0 1 0-8h.087ZM22 16.5a5.5 5.5 0 1 0-11 0 5.5 5.5 0 0 0 11 0Zm-6-3a.5.5 0 0 1 1 0v4.793l1.646-1.647a.5.5 0 0 1 .708.708l-2.5 2.5a.5.5 0 0 1-.708 0l-2.5-2.5a.5.5 0 0 1 .708-.708L16 18.293V13.5Z" fill="oklch (var(--gray-95))"/></svg>
            </button>

            <button id="vault-delete" class='menu-item'>
            <div style="pointer-events: none;" > Delete vault </div> <svg style='width: var(--gap-x04);pointer-events: none;' fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 1.75a3.25 3.25 0 0 1 3.245 3.066L15.25 5h5.25a.75.75 0 0 1 .102 1.493L20.5 6.5h-.796l-1.28 13.02a2.75 2.75 0 0 1-2.561 2.474l-.176.006H8.313a2.75 2.75 0 0 1-2.714-2.307l-.023-.174L4.295 6.5H3.5a.75.75 0 0 1-.743-.648L2.75 5.75a.75.75 0 0 1 .648-.743L3.5 5h5.25A3.25 3.25 0 0 1 12 1.75Zm6.197 4.75H5.802l1.267 12.872a1.25 1.25 0 0 0 1.117 1.122l.127.006h7.374c.6 0 1.109-.425 1.225-1.002l.02-.126L18.196 6.5ZM13.75 9.25a.75.75 0 0 1 .743.648L14.5 10v7a.75.75 0 0 1-1.493.102L13 17v-7a.75.75 0 0 1 .75-.75Zm-3.5 0a.75.75 0 0 1 .743.648L11 10v7a.75.75 0 0 1-1.493.102L9.5 17v-7a.75.75 0 0 1 .75-.75Zm1.75-6a1.75 1.75 0 0 0-1.744 1.606L10.25 5h3.5A1.75 1.75 0 0 0 12 3.25Z" fill="oklch (var(--gray-95))"/></svg>
            </button>

          </div>
        </VaultMenu>
      </div>
    </div>
  </div>

  <select name="vaults" class="max-width" id="vault-list" disabled>

  </select>
  
</Card>

<Dialog identifier= 'create-vault-dialog'>

  <h3 style="margin-top: 0;">Create vault</h3>
  <p class="hint" id="vault-hint"></p>

  <input type="text" name="vault-name" id="vault-name-input">
  <div class="flex-center-childs" style="gap:var(--gap);margin-top:var(--gap-x04);">
    
    <button class="unstyle-button not-prose max-width" >Cancel</button>
    <button class="max-width" id="create-vault-button" disabled>Create</button>
    
  </div>

</Dialog>

<Dialog identifier= 'delete-vault-dialog'>

  <h3 style="margin-top: 0;">Delete vault</h3>

  <select name="delete vaults" class="max-width prose" id="delete-vault-list" > </select>

  <div class="flex-center-childs" style="gap:var(--gap);margin-top:var(--gap-x04);"> 

    <button class="unstyle-button not-prose max-width" >Cancel</button>
    <button class="max-width" id="delete-vault-button" style="--primary:62.31% 0.246 27" disabled>Delete</button>
    
  </div>

</Dialog>

<div id="card-menu-div" style="display: flex; flex-direction: row-reverse; align-items: flex-start;height: var(--gap-x08);" >   
  <button id="card-form-button" class="tertiary-btn">
  <svg width="24" height="24" fill="none" style="pointer-events: none;padding: 1px; width: var(--gap-x04);" viewBox="0 0 24 24">
    <path d="M11.75 3a.75.75 0 0 1 .743.648l.007.102.001 7.25h7.253a.75.75 0 0 1 .102 1.493l-.102.007h-7.253l.002 7.25a.75.75 0 0 1-1.493.101l-.007-.102-.002-7.249H3.752a.75.75 0 0 1-.102-1.493L3.752 11h7.25L11 3.75a.75.75 0 0 1 .75-.75Z" />
  </svg>
  <p style="padding-right: var(--gap-xxs);pointer-events: none;">Add</p> 
</button>
</div>

<Dialog identifier="card-form" formHandler="return handleCardgForm(this, event);">

  <p>
    <label for="select vault">Vault:</label>
    <select name="select vault" class="max-width prose" id="select-vault-for-card" ></select>
  </p>

  <p>
    <label for="select card">card:</label>
    <select name="select card" class="max-width prose" id="select-card-list" ></select>
  </p>
  
  <div id="card-fields">
    <textarea name="comments"></textarea>
  </div>
 

  <div id="card-form-add-field" class="not-prose" style="display: flex; flex-direction: row-reverse; align-items: flex-start;height: var(--gap-x08); margin-top: var(--gap-xs);" >   
    <button type="button" id="add-field" class="tertiary-btn">
    <svg width="24" height="24" fill="none" style="pointer-events: none;padding: 1px; width: var(--gap-x04);" viewBox="0 0 24 24">
      <path d="M11.75 3a.75.75 0 0 1 .743.648l.007.102.001 7.25h7.253a.75.75 0 0 1 .102 1.493l-.102.007h-7.253l.002 7.25a.75.75 0 0 1-1.493.101l-.007-.102-.002-7.249H3.752a.75.75 0 0 1-.102-1.493L3.752 11h7.25L11 3.75a.75.75 0 0 1 .75-.75Z" />
    </svg>
    <p style="padding-right: var(--gap-xxs);pointer-events: none;">Add</p> 
  </button>
  </div>


  <menu class="flex-center-childs" style="gap:var(--gap);margin-top: var(--gap-x04);">
    <button class="max-width not-prose unstyle-button" type="submit" value="cancel">Cancel</button>
    <button class="max-width" type="submit" value="confirm">OK</button>
  </menu>
</Dialog>


<script src="../components/recordsLogic.ts"></script>
<script src="../components/authLogic.ts"></script>
