---
import Dialog from "../components/ui/Dialog.astro"
import RecentDelPass from "../components/RecentDelPass.astro"
import Drawer from '../components/ui/Drawer.tsx';
---

<div id="add-drawer-trigger" class="text-as-button blink flex-center-childs" >
  
    <Drawer client:load>
        <fragment slot="trigger">
            <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path d="M11.75 3a.75.75 0 0 1 .743.648l.007.102.001 7.25h7.253a.75.75 0 0 1 .102 1.493l-.102.007h-7.253l.002 7.25a.75.75 0 0 1-1.493.101l-.007-.102-.002-7.249H3.752a.75.75 0 0 1-.102-1.493L3.752 11h7.25L11 3.75a.75.75 0 0 1 .75-.75Z" fill="oklch(var(--gray-95))"/>
            </svg>
        </fragment>

        <fragment slot="content">

            <div data-corvu-no-drag class="prose drawer-content" >

                <fieldset class="box-shadow" id="entries-list-car">
                    <div 
                        style="display: flex; flex-direction: column;" 
                        class="prose"
                        id="input-group">

                        <input 
                            type="text" 
                            id="title-input" 
                            placeholder="Title" 
                            style="margin-bottom: var(--size-sm2);"/>

                        <div style="display: flex; flex-direction: row;">
                            <input 
                                type="checkbox"
                                id="auto-pass-entry" 
                                style="height:var(--size-md4)"> 

                            <label 
                                style=" place-self: center; margin-left: var(--size-sm0);" 
                                for="auto-pass-entry">
                                Enter Password Manually</label>
                        </div>

                        <input 
                            type="text" 
                            id="password-input"
                            placeholder="Password" readonly />
                        
                        <button 
                            style="margin-top: var(--size-sm2);"
                            id="add-entry-button">
                            Add</button>
                    </div>
                </fieldset>

                <div 
                id="search-box" 
                class="prose max-width" 
                style="display: flex; 
                flex-direction: row;
                position:relative;
                width: min(100%, var(--size-xl7));">

                    <input 
                        type="text" 
                        id="search-input" 
                        placeholder="Search"
                        style=" position: relative;
                        background: oklch(var(--gray-15) / 1);
                        border: none ;
                        padding-left: var(--size-md4);
                        height: var(--size-md3);
                        box-shadow: none;" >
                    <svg 
                        style="position: absolute;
                        margin: var(--default-padding);
                        margin-inline: var(--size-sm0);
                        height: var(--size-sm3);
                        padding-top: 2px;
                        opacity:0.5;" width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 2.5a7.5 7.5 0 0 1 5.964 12.048l4.743 4.745a1 1 0 0 1-1.32 1.497l-.094-.083-4.745-4.743A7.5 7.5 0 1 1 10 2.5Zm0 2a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11Z" />
                    </svg>

                    <button class="not-prose" id="cancel-search" >Cancel</button>
                </div>


                <fieldset class="box-shadow" style="padding: 0; color: oklch(var(--gray-95));">
                    <div class="entries-list not-prose" id="entries-list"> 
                        <p class="hint" style="padding-block:var(--size-sm3)"> Loading records </p>
                    </div>
                </fieldset>

              
                <RecentDelPass/>

            </div>

            <Dialog identifier="edit-temp-list-dialog">

                <h3 style="margin-top: 0;">Edit Item</h3>

                <input 
                    type="text" 
                    name="title"  
                    class="input-group-top" 
                    placeholder="Title" 
                    id="updating-temp-title-input"/>

                <input 
                    type="text" 
                    name="Password" 
                    class="input-group-bottom" 
                    placeholder="Password" 
                    id="updating-temp-pass-input"/>

                <div class="flex-center-childs" style="gap:var(--size-sm0);margin-top:var(--size-sm3);">           
                  <button class="unstyle-button not-prose max-width" >Cancel</button>
                  <button class="max-width" id="update-temp-list-entry">Update</button>  
                </div>

            </Dialog>
        </fragment>      
    </Drawer>
</div>

<style is:global>
.drawer-content {
  position:absolute;
  inset:0;
  height: var(--drawer-heigt);
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  gap: var(--size-sm3); 
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: var(--size-sm1);
  padding-inline: var(--size-sm1);
  max-width: 100%;
 }

.drawer-content:first-child{
  padding-top: var(--size-md4);
 }

#cancel-search {
  color: oklch(var(--primary));
  width: var(--size-lg1);
  opacity: 0; 
  position: absolute; 
  top: 0;
  right: 0;
  margin: var(--default-padding);
  margin-inline: 0;
  line-height: var(--size-sm3);
  transition: opacity 0.1s
}


:root:has(#search-input:focus-within) #cancel-search,
:root:has(#search-input:not(:placeholder-shown)) #cancel-search {
  opacity: 1; 
  transition: opacity 0.2s;
}

#search-input {
  width: 100%;
  transition: width 0.1s;
}

:root:has(#search-input:focus-within) #search-input,
:root:has(#search-input:not(:placeholder-shown)) #search-input {
  width: calc(100% - var(--size-lg2));
  transition: width 0.1s;
}

svg{
  fill: oklch(var(--gray-95))
}


#recent-del-list > .entry-item:last-of-type::after,
#entries-list > .entry-item:last-of-type::after {
  content: 'tap on passwords to copy';
  position: absolute;
  bottom: 0;
  transform: translateY(var(--size-md2));
  font-size: var(--font-sm1);
  color: oklch(var(--gray-50) / 1);
}


summary.right-to-left::before { 
  content: "";
  background-color: oklch(var(--gray-95) / 1);
  -webkit-mask-image:url('data:image/svg+xml,<svg width="var(--size-sm3)" height="var(--size-sm3)" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 1.75a3.25 3.25 0 0 1 3.245 3.066L15.25 5h5.25a.75.75 0 0 1 .102 1.493L20.5 6.5h-.796l-1.28 13.02a2.75 2.75 0 0 1-2.561 2.474l-.176.006H8.313a2.75 2.75 0 0 1-2.714-2.307l-.023-.174L4.295 6.5H3.5a.75.75 0 0 1-.743-.648L2.75 5.75a.75.75 0 0 1 .648-.743L3.5 5h5.25A3.25 3.25 0 0 1 12 1.75Zm6.197 4.75H5.802l1.267 12.872a1.25 1.25 0 0 0 1.117 1.122l.127.006h7.374c.6 0 1.109-.425 1.225-1.002l.02-.126L18.196 6.5ZM13.75 9.25a.75.75 0 0 1 .743.648L14.5 10v7a.75.75 0 0 1-1.493.102L13 17v-7a.75.75 0 0 1 .75-.75Zm-3.5 0a.75.75 0 0 1 .743.648L11 10v7a.75.75 0 0 1-1.493.102L9.5 17v-7a.75.75 0 0 1 .75-.75Zm1.75-6a1.75 1.75 0 0 0-1.744 1.606L10.25 5h3.5A1.75 1.75 0 0 0 12 3.25Z" fill="%23fff"/></svg>');
  mask-image: url('data:image/svg+xml,<svg width="var(--size-sm3)" height="var(--size-sm3)" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 1.75a3.25 3.25 0 0 1 3.245 3.066L15.25 5h5.25a.75.75 0 0 1 .102 1.493L20.5 6.5h-.796l-1.28 13.02a2.75 2.75 0 0 1-2.561 2.474l-.176.006H8.313a2.75 2.75 0 0 1-2.714-2.307l-.023-.174L4.295 6.5H3.5a.75.75 0 0 1-.743-.648L2.75 5.75a.75.75 0 0 1 .648-.743L3.5 5h5.25A3.25 3.25 0 0 1 12 1.75Zm6.197 4.75H5.802l1.267 12.872a1.25 1.25 0 0 0 1.117 1.122l.127.006h7.374c.6 0 1.109-.425 1.225-1.002l.02-.126L18.196 6.5ZM13.75 9.25a.75.75 0 0 1 .743.648L14.5 10v7a.75.75 0 0 1-1.493.102L13 17v-7a.75.75 0 0 1 .75-.75Zm-3.5 0a.75.75 0 0 1 .743.648L11 10v7a.75.75 0 0 1-1.493.102L9.5 17v-7a.75.75 0 0 1 .75-.75Zm1.75-6a1.75 1.75 0 0 0-1.744 1.606L10.25 5h3.5A1.75 1.75 0 0 0 12 3.25Z" fill="%23fff"/></svg>');
  width: var(--size-sm3);
  height: var(--size-sm3);
} 

details.right-to-left[open] > summary::before {
  content: 'Cancel';
  color: oklch(var(--gray-95) / 1);
  font-size: var(--font-sm1);
  background-color: unset;
  -webkit-mask-image:none;
  mask-image: none;
  width: auto;
  height: auto;
} 

</style>
