---
import Card from "../components/Card.astro";
import DrawerFromRight from '../components/DrawerFromRght.tsx';
---

<div  style="
display: flex; 
flex-direction: column; 
align-items: center; 
gap: var(--gap-x04); 
margin-inline: var(--gap-x04)
height: 85%;
overflow-y: scroll;
padding-top: var(--gap-x02);
padding-inline: var(--gap-x02);
max-width: 100%;
overflow-x: hidden;">

  <Card iden="entries-list-card" >
    <div style="display: flex; flex-direction: column;" class="prose" id="input-group">
      <input type="text" id="title-input" placeholder="Title" style="margin-bottom: var(--gap-x03);"/>
      <div style="display: flex; flex-direction: row;">
        <input id="auto-pass-entry" type="checkbox" style="height:var(--gap-x07)"> 
        <label style="
        place-self: center; 
        margin-left: var(--gap);" for="auto-pass-entry">Enter Password Manually</label>
      </div>
      <input type="text" id="password-input" placeholder="Password" readonly />
      
      <button style="margin-top: var(--gap-x03);"id="add-entry-button">Add</button>
    </div>
  </Card>
    <div id="search-box" class="prose max-width" style="
    display: flex; 
    flex-direction: row;
    position:relative;">
      <input type="text" id="search-input" style="
      position: relative;
      background: oklch(var(--gray-15) / 1);
      border: none ;
      padding-left: var(--gap-x07);
      box-shadow: none;"  placeholder="Search">
      <svg style="
      position: absolute;
      margin: var(--default-padding);
      margin-inline: var(--gap);
      height: var(--gap-x04);
      padding-top: 2px;
      opacity:0.5;" width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M10 2.5a7.5 7.5 0 0 1 5.964 12.048l4.743 4.745a1 1 0 0 1-1.32 1.497l-.094-.083-4.745-4.743A7.5 7.5 0 1 1 10 2.5Zm0 2a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11Z" /></svg>
      <button class="not-prose" id="cancel-search">Cancel</button>
    </div>

  <div class="entries-list" id="entries-list"></div>
    <div class="menu-item" style="margin-bottom: var(--gap-x06);">
    <DrawerFromRight client:load>
      <div  data-corvu-no-drag class="entries-list" id="recent-del-list" style="
      padding-inline: var(--gap-x02);
      height:100%;
      margin-left: var(--gap-x03);
      overflow-y: scroll;">
    </DrawerFromRight>
  </div>


</div>

<dialog data-corvu-no-drag id="edit-temp-list-dialog" class="prose max-width glass" style="
padding: var(--gap-x04);
border-radius: var(--radius-a);
place-content:center;
background: oklch(var(--gray-15) / 0.65);
max-width:min(350px, 100%);">
  <form method="dialog" style="display:flex; flex-direction:column;">
    <input type="text" name="title"  class="input-group-top" placeholder="Title" id="updating-temp-title-input"/>
    <input type="text" name="Password" class="input-group-bottom" placeholder="Password" id="updating-temp-pass-input"/>
    <div  style="
    display:flex; 
    flex-direction: columns; 
    gap:var(--gap);
    justify-content: center; 
    margin-top:var(--gap-x04);">
      
      <button class="secondary-btn max-width" >Cancel</button>
      <button class="max-width" id="update-temp-list-entry">Update</button>
      
    </div>
  </form>
</dialog>





<style is:global>

#cancel-search {
  color: oklch(var(--primary));
  width: var(--gap-x08);
  opacity: 0; 
  position: absolute; 
  top: 0;
  right: 0;
  margin: var(--default-padding);
  margin-inline: 0;
  line-height: var(--gap-x04);
  transition: opacity 0.1s
}

::backdrop {
  background-color: rgb(0 0 0 / 25%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px)
}

:root:has(#search-input:focus-within) #cancel-search {
  opacity: 1; 
  transition: opacity 0.2s;
}

#search-input {
  width: 100%;
  transition: width 0.1s;
}

:root:has(#search-input:focus-within) #search-input {
  width: calc(100% - var(--gap-x09));
  transition: width 0.1s;
}

.entries-list{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

svg{
  fill: oklch(var(--gray-95))
}

.entry-item{
  display: flex;
  place-content: space-between;
  width: min(100%, 65ch);
  background-color: oklch(var(--gray-15) / 1);
  border-radius: 0;
  padding: var(--default-padding);
  margin: 0 var(--gap-x03);
  position: relative;
}

.entries-list > :first-child{
  border-top-left-radius: var(--radius-a);
  border-top-right-radius: var(--radius-a);
  margin-top: var(--gap);
}

.entries-list > :last-child{
  border-bottom-left-radius: var(--radius-a);
  border-bottom-right-radius: var(--radius-a);
  margin-bottom: var(--gap-x06);
}

.entries-list > :last-child::after{
  content: 'tap on passwords to copy';
  position: absolute;
  bottom: 0;
  transform: translateY(var(--gap-x06));
  font-size: var(--small-font);
  color: oklch(var(--gray-50) / 1);
}

.entries-list > :not(:last-child){
  border-bottom:1px solid oklch(var(--gray-25) / 1);
}


.menu-item{
  background-color: oklch(var(--gray-15) / 1);
  width: min(100%, 65ch) ;
  margin:var(--gap);
  border-radius: var(--radius-a)
}

.menu-item:focus, .menu-item:hover{
  background-color: oklch(var(--gray-25) / 1);
}

.s-container  {
display: flex;
justify-content: flex-end;
align-items: center;
gap: var(--gap);
}

details.right-to-left {
  margin: 0;
  position: relative;
  display: inline-block;
}

details.right-to-left summary::-webkit-details-marker {
  display: none;
}

summary.right-to-left {
  display: flex;
  position: relative;
  cursor: pointer;
  user-select: none;
  min-width: max-content;
  align-items: center;
}

@keyframes details-show-rtl {
  from {
    opacity: 0;
    transform: translateY(-50%) translateX(var(--gap-x02));
  }
  to {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
  }
} 

details.right-to-left[open] > *:not(summary) {
  animation: details-show-rtl 150ms ease-in-out forwards;
} 

summary.right-to-left::before {
  content: 'ðŸ—‘ï¸';
  color: var(--danger);
  font-size: 100%;
} 

details.right-to-left[open] > summary::before {
  content: 'Cancel';
  color: oklch(var(--gray-95) / 1);
  font-size: var(--small-font);
} 

details.right-to-left[open] > .s-container {
  width: 10ch;
} 



.delete-button {
  margin-inline: var(--gap);
  color: var(--danger);
  font-size: var(--small-font);
} 

details.right-to-left[open] .delete-button {
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-right: var(--gap);
} 

@keyframes blink {
  0% { opacity: 20%; }
  50% { opacity: 60%; }
  100% { opacity: 20%; }
} 

</style>