<div style="
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--portion);
	margin-top: var(--gap);" >

<label  id= "l_capitalize_first_letter" aria-label="Capitalize First Letter" for="capitalize_first_letter" 
data-menu-label="capitalize" class="toggle-button first">
Capitalize</label>

<input type="checkbox" id= "capitalize_first_letter" name="pass-ops" data-menu="capitalize"
style="opacity: 0; pointer-events: none;position: absolute" checked/>

<label id= "l_add_number" aria-label="Add Number" for="add_number" 
data-menu-label="add_number" class="toggle-button middle">
Number</label>

<input type="checkbox" id= "add_number" name="pass-ops"
style="opacity: 0; pointer-events: none;position: absolute" checked />

<label id="l_add_special_cha" aria-label="Special Character" for="add_special_cha" 
data-menu-label="add_special_cha" class="toggle-button last">
!@#$%&...</label>

<input type="checkbox" id="add_special_cha" name="pass-ops" data-menu="add special cha"
style="opacity: 0; pointer-events: none;position: absolute" checked/>

</div>

<style is:global>
 
.toggle-button {
	font-size:var(--regular-font);
	padding:var(--default-padding);
	user-select:none;
	cursor:pointer;
	color:var(--focus-color);
	background:0 0;
	background-color:var(--toggle-bg);
	opacity:1;
	box-shadow:1px 3px 0px var(--transparent-bg);
	border:none;
	border-radius:0;
	position:relative
}

.toggle-button::before{
  content: "";
	position: absolute;
	inset: 0;
	z-index: -1;		
	background-color: var(--transparent-bg);
	scale: 0.65;
  border-radius: 3ch;
	filter: blur(10px);
	mix-blend-mode: soft-light;
}

.toggle-button::after{
	border: none;
	content: "";
	position: absolute;
	border-top:0.2px solid var(--light-reflection);
	border-bottom:0.2px solid var(--light-reflection);
	box-shadow:  inset 0px 0.4px 0px 0px var(--light-reflection);
	border-radius: 0px;
	inset: 0;
	mix-blend-mode: hard-light;
}


.first{
	border-top-left-radius: var(--radiu-a);
	border-bottom-left-radius: var(--radiu-a);
}

.first::after{
	content: "";
	border-top-left-radius: var(--radiu-a);
	border-bottom-left-radius: var(--radiu-a);
	border-left: 0.2px solid var(--light-reflection) ;
}

.last{
	border-top-right-radius: var(--radiu-a);
	border-bottom-right-radius: var(--radiu-a);
}

.last::after{
	content: "";
	border-top-right-radius: var(--radiu-a);
	border-bottom-right-radius: var(--radiu-a);
	border-right: 0.2px solid var(--light-reflection) ;
}

.single{
	border-radius: var(--radiu-a);
}

.single::after{
	border-radius: var(--radiu-a);
	border-right: 0.2px solid var(--light-reflection) ;
	border-left: 0.2px solid var(--light-reflection) ;
}



:root:has(#capitalize_first_letter:checked) #l_capitalize_first_letter,
:root:has(#add_number:checked) #l_add_number ,
:root:has(#add_special_cha:checked) #l_add_special_cha,
.active {
	position: relative;
  background-color: var(--primery-transparent);
  color: var(--accent-color);
	box-shadow: 1px 2.5px 0px var(--dark-shadow) ;

}

:root:has(#capitalize_first_letter:checked) #l_capitalize_first_letter::before ,
:root:has(#add_number:checked)  #l_add_number::before ,
:root:has(#add_special_cha:checked) #l_add_special_cha::before ,
.active::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;		
	background-color: var(--glow);
  transform: scaleX(1.2);
  border-radius: 3ch;
	filter: blur(10px);

}

:root:has(#capitalize_first_letter:focus-visible) #l_capitalize_first_letter,
:root:has(#add_number:focus-visible)  #l_add_number ,
:root:has(#add_special_cha:focus-visible) #l_add_special_cha {
	outline: Highlight auto 1px;
  outline: -webkit-focus-ring-color auto 1px;
}

.active:active::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;    
  background-color: white;
  scale: 0.65;
  border-radius: 3ch;
  filter: blur(10px);
  mix-blend-mode: soft-light;
}

</style>