<div class="flex-spread-childs" style="position: relative;">
  <div>Pattern:</div>
  <div style="display: inline-flex; height: calc(var(--gap-x06) - 3px);">
    <label id="l_capitalize_first_letter" aria-label="Capitalize First Letter" for="capitalize_first_letter"
      data-menu-label="capitalize" class="secondary-btn first-btn"></label>

    <input type="checkbox" id="capitalize_first_letter" name="pass-ops" data-menu="capitalize" class="hide-checkbox" checked />

    <label id="l_add_number" aria-label="Add Number" for="add_number" data-menu-label="add_number"
      class="secondary-btn middle-btn"></label>

    <input type="checkbox" id="add_number" name="pass-ops" class="hide-checkbox" checked />

    <label id="l_add_special_cha" aria-label="Special Character" for="add_special_cha" data-menu-label="add_special_cha"
      class="secondary-btn last-btn"></label>

    <input type="checkbox" id="add_special_cha" name="pass-ops" data-menu="add special cha" class="hide-checkbox" checked />
  </div>
</div>

<style is:global>

#l_capitalize_first_letter::after{
  content: "Abc";
}

:root:not(:has(#capitalize_first_letter:checked)) #l_capitalize_first_letter::after{
  content: "abc";
}

#l_add_number::after{
  content: "123...";
}
:root:not(:has(#add_number:checked))  #l_add_number::after{
  content: "123...";
  text-decoration: line-through;
}

#l_add_special_cha::after{
  content: "#+@...";
}

:root:not(:has(#add_special_cha:checked)) #l_add_special_cha::after{
  content: "#+@...";
  text-decoration: line-through;
}
 
:root:not(:has(#capitalize_first_letter:checked)) #l_capitalize_first_letter,
:root:not(:has(#add_number:checked)) #l_add_number ,
:root:not(:has(#add_special_cha:checked)) #l_add_special_cha{
  background: oklch(var(--gray-15) / 0.3);
  color:oklch(var(--gray-95) / 0.6);
  box-shadow: none;
}

:root:not(:has(#capitalize_first_letter:checked)) #l_capitalize_first_letter::before ,
:root:not(:has(#add_number:checked))  #l_add_number::before ,
:root:not(:has(#add_special_cha:checked)) #l_add_special_cha::before {
  content: "";
  background: linear-gradient(to bottom, oklch(45% 0 0 / 0.4) 0%, oklch(100% 0 0 / 0) 180%) border-box;
}


.first-btn,.first-btn::before, .first-btn::after{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
  border-right: 0;
}

.last-btn,.last-btn::before, .last-btn::after{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
  border-left: 0;
}

.middle-btn, .middle-btn::before, .middle-btn::after{
	border-radius: 0;
  border-right: 0;
  border-left: 0;
}

:root:has(#capitalize_first_letter:focus-visible) #l_capitalize_first_letter,
:root:has(#add_number:focus-visible)  #l_add_number ,
:root:has(#add_special_cha:focus-visible) #l_add_special_cha {
	outline: Highlight auto 1px;
  outline: -webkit-focus-ring-color auto 1px;
}

</style>