<div style="display: flex; place-content: space-between;">
  <label for="varification-key-ops" class="hint">Enter Plain or Encrypted Varification Key</label>
  <select id="varification-key-ops" class="hint" name="detect mode" style="
  width: 15ch ;
  margin: 1px;
  color: oklch(var(--gray-95) );">
  <option selected>Auto</option>
  <option>Plain</option>
  <option>Encrypted</option>
  </select>
</div>
<textarea id="varification-key" class=" dent-shadow" style="
  margin-top: var(--gap-x02); margin-bottom: var(--gap-x04);" rows="2" placeholder="Varification Key">
</textarea>

<div style="overflow: hidden;">
  <div style="
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;">

  <div id="varif_detail" style="
  	line-height: var(--gap-x05);
    font-weight: 300;
    font-size:var(--font-lg1);
    height:var(--gap-x05);">
    <div class="skeleton" style="width:10ch"></div>
  </div>

  <button name="copy code" id="varif_detail_res" class=" not-prose copy">
    <div class="skeleton" style="width:5ch; font-variant-numeric: tabular-nums;"></div>
  </button>

</div>

<div id="varif_hint" class="hint" style="height:var(--gap-x04);" ></div>
<div id="varif_copy_hint" class="hint" style="height:var(--gap-x04);"></div>

</div>