<fieldset class="box-shadow expandable" id="Varification"> 
    <legend>Varification Code</legend>

    <div class="flex-spread-childs">
        <label for="Varification-ops">Varification key Format</label>

        <select id="Varification-ops" name="detect mode">
            <option selected>Auto</option>
            <option>Plain</option>
            <option>Encrypted</option>
        </select>
    </div>

    <textarea 
        id="Varification-input" 
        class=" dent-shadow" 
        style=" margin-top: var(--size-sm1);" 
        rows="2" 
        placeholder="Varification Key"></textarea>

    <div id="Varification-target" style="overflow: hidden;">

        <div             
            style="font-size: var(--font-lg1);
            display: flex;
            position: relative;
            justify-content: space-between;
            align-items: center;">

                <div class="skeleton" style="width:var(--size-lg4)"></div>
                <div class="skeleton" style="width:var(--size-lg1);"></div>
                       
        </div>
    </div>
</fieldset>

<script>

import { pass } from '../logic/pass';
import { showToast } from '../logic/misc'
import { render } from "solid-js/web"
import { Verification } from './Varification'


document.getElementById("Varification")!.addEventListener("input",(e)=>{
   if((e!.target as HTMLInputElement).matches("#Varification-input")){
      const value = (e!.target as HTMLInputElement).value;
      pass.setVarificationKey(value.toString())
   }
   if((e!.target as HTMLInputElement).matches("#Varification-ops")){
      const value = (e!.target as HTMLInputElement).value;
      pass.setKeyMode(value.toString())
   }
});

pass.on(["otpRes","keyIvIsValid","varificationKey"], pl => {
    const target = document.getElementById("Varification-target") as HTMLElement
    target.textContent = "";
    render( Verification, target)
});


pass.on(["countDown"], ({value}) =>{
    if (document.getElementById("Varification-target-detail")!.textContent === "Varification Code:"){
        document.getElementById("Varification-hint")!.textContent = `This code is valid for the next ${value} seconds. \n Tap to copy`;
    }
})

document.getElementById("Varification")!.addEventListener("click", (e) => {
   if (
      (e!.target as HTMLInputElement).matches("#Varification-target-detail ,#Varification-target-res, #Varification-hint",) &&
      document.getElementById("Varification-target-res")!.textContent !== ""
   ) {
      navigator.clipboard.writeText(pass.get("otpRes"));
      showToast();
   }
});

</script>

<style>

.expandable {
    max-height: var(--size-xl2);
    transition: max-height 0.3s var(--appear-subtle);
}

</style>