---
import VarificationComponent from '../components/VarificationComponent.astro';
---

<div style="display: flex; place-content: space-between;">
  <label for="varification-key-ops" class="hint">Enter Plain or Encrypted Varification Key</label>
  <select id="varification-key-ops" class="hint" name="chars" style="
  width: 15ch ;
  height: calc((var(--gap-x06) - 3px) );
  margin: 1px;">
  <option>Auto</option>
  <option>Plain</option>
  <option>Encrypted</option>
  </select>
</div>
<textarea id="varification-key" class=" dent-shadow" style="
  margin-top: var(--gap-x02); margin-bottom: var(--gap-x04);" rows="2" placeholder="Varification Key">
</textarea>

<div class="varif_detail_cl" style="display: block;">
  <VarificationComponent varification_detail="varif_detail" varification_detail_result="varif_detail_re"
    varification_hint="varif_hint" varification_copy="varif_copy_hint" />

</div>

<script>

document.getElementById("encryption")!.addEventListener("change",(e)=>{
   if ((e!.target as HTMLInputElement).matches("#enc")) {
   	document.getElementById("use_varif_l")!.textContent = "Use plain text as key for varification code.";
   }if ((e!.target as HTMLInputElement).matches("#dec")){
   	document.getElementById("use_varif_l")!.textContent = "Use Decrypted text as key for varification code.";
   }
});
	

</script>

<style>
	
.varif_detail_cl{
	display: none;
	font-variant-numeric: tabular-nums;
}

:root:has(#use_varif:checked) .varif_detail_cl{
	display: block;
}
</style>