<div style="
display: flex;
flex-direction: row;
align-items: flex-start;">

<input id="use_varif" type="checkbox" style=" 
height: var(--text-height); margin: 0.4ch 1ch 0 0;" disabled >

<label for="use_varif" id="use_varif_l" style="
opacity: 0.6; font-size: var(--regular-font); ">
Use plain text as key for varification code.</label>

</div>

<div style="
display: flex;
margin-top: 2ch;
position: relative;
justify-content: space-between;
align-items: center;
gap: 1ch;">

	<div  id="varif_detail" class= "varif_detail_cl" style="line-height: 2ch;
    font-weight: 300;
    font-size:var(--big-font);"> <div class="skeleton" style="width:10ch"></div> </div>

	<button  id = "varif_detail_re" class=" unstyle-button copy varif_detail_cl">
	<div class="skeleton" style="width:5ch"></div> </button>

</div>

<div id="varif_hint" class="hint varif_detail_cl" style="line-height: 1.5ch;" ><div class="skeleton" style="width:20ch;"></div></div>
<div id="varif_copy_hint" class="hint varif_detail_cl" ><div class="skeleton" style="width:8ch;"></div></div>

<style >
	
.varif_detail_cl{
	display: none;
	font-variant-numeric: tabular-nums;
}

:root:has(#use_varif:checked) .varif_detail_cl{
	display: block;
}

</style>

<script>

document.getElementById("encryption")!.addEventListener("change",(e)=>{
   if ((e!.target as HTMLInputElement).matches("#enc")) {
   	document.getElementById("use_varif_l")!.textContent = "Use plain text as key for varification code.";
   }if ((e!.target as HTMLInputElement).matches("#dec")){
   	document.getElementById("use_varif_l")!.textContent = "Use Decrypted text as key for varification code.";
   }
});
	

</script>