<fieldset class="box-shadow" id="Varification"> 
    <legend>Varification Code</legend>

    <div style="display: flex; place-content: space-between;">
        <label for="Varification-ops">Varification key Format</label>

        <select id="Varification-ops" name="detect mode">
            <option selected>Auto</option>
            <option>Plain</option>
            <option>Encrypted</option>
        </select>
    </div>

    <textarea 
        id="Varification-input" 
        class=" dent-shadow" 
        style=" margin-top: var(--size-sm1); 
        margin-bottom: var(--size-sm3);" 
        rows="2" 
        placeholder="Varification Key"></textarea>

    <div style="overflow: hidden;">

        <div 
            style="color: oklch(var(--gray-95));
            display: flex;
            position: relative;
            justify-content: space-between;
            align-items: center;">

            <div 
                id="Varification-detail" 
                style="line-height: var(--size-sm4);
                font-weight: 300;
                font-size:var(--font-lg1);
                height:var(--size-sm4);">

                <div class="skeleton" style="width:var(--size-lg4)"></div>
            </div>

            <button 
                name="copy code" 
                id="Varification-target" 
                class=" not-prose copy" 
                style="font-variant-numeric: tabular-nums; font-size:var(--font-lg1);">

                <div class="skeleton" style="width:var(--size-lg1);"></div>
            </button>
            
        </div>

        <small id="Varification-hint"  style="height:var(--size-sm3);" ></small>
        <small id="Varification-copy" style="height:var(--size-sm3);"></small>

    </div>

</fieldset>

<script>

import { pass } from '../logic/pass';
import { showToast } from '../logic/misc'
  
document.getElementById("Varification")!.addEventListener("input",(e)=>{
   if((e!.target as HTMLInputElement).matches("#Varification-input")){
      const value = (e!.target as HTMLInputElement).value;
      pass.setVarificationKey(value.toString())
   }
   if((e!.target as HTMLInputElement).matches("#Varification-ops")){
      const value = (e!.target as HTMLInputElement).value;
      pass.setKeyMode(value.toString())
   }
});


function clear(){
    document.getElementById("Varification-target")!.textContent = "";
    document.getElementById("Varification-hint")!.textContent = "";
    document.getElementById("Varification-copy")!.textContent = "";
}

pass.on(["otpRes","keyIvIsValid","varificationKey"], pl => {

    switch (true) {
        case (pass.get("secretKey") === ""):
          document.getElementById("Varification-detail")!.textContent = ""
          clear()
          break;
 
        case (pass.get("secretKey") !== pass.get("varificationKey") && (!pass.get("keyIvIsValid") || pass.get("secretKey") === "Invalid Credentials")):
          document.getElementById("Varification-detail")!.textContent = pass.get("secretKey");
          clear()
          break;
 
        case (pass.get("otpRes") === "The provided key is not valid."):
          document.getElementById("Varification-detail")!.textContent = pass.get("otpRes");
          clear()
          break;
 
        default:
          document.getElementById("Varification-detail")!.textContent = "Varification Code:";
          document.getElementById("Varification-target")!.textContent = pass.get("otpRes");
          document.getElementById("Varification-hint")!.textContent = `This code is valid for the next ${pass.get("countDown")} seconds.`;
          document.getElementById("Varification-copy")!.textContent = "Tap to copy";
   }
});

pass.on(["countDown"], ({value}) =>{
    if (document.getElementById("Varification-detail")!.textContent === "Varification Code:"){
        document.getElementById("Varification-hint")!.textContent = `This code is valid for the next ${pass.get("countDown")} seconds.`;
    }
})

document.getElementById("Varification")!.addEventListener("click", (e) => {
   if (
      (e!.target as HTMLInputElement).matches("#Varification-detail ,#Varification-target, #Varification-copy",) &&
      document.getElementById("Varification-target")!.textContent !== ""
   ) {
      navigator.clipboard.writeText(pass.get("otpRes"));
      showToast();
   }
});

</script>