<div style="display: flex; place-content: space-between;">
  <label for="varification-key-ops" class="hint">Enter Plain or Encrypted Varification Key</label>
  <select id="varification-key-ops" class="hint" name="detect mode" style="
  width: 15ch ;
  margin: 1px;
  color: oklch(var(--gray-95) );">
  <option selected>Auto</option>
  <option>Plain</option>
  <option>Encrypted</option>
  </select>
</div>
<textarea id="varification-key" class=" dent-shadow" style="
  margin-top: var(--size-sm1); margin-bottom: var(--size-sm3);" rows="2" placeholder="Varification Key">
</textarea>

<div style="overflow: hidden;">
  <div style="
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;">

  <div id="varif_detail" style="
  	line-height: var(--size-sm4);
    font-weight: 300;
    font-size:var(--font-lg1);
    height:var(--size-sm4);">
    <div class="skeleton" style="width:10ch"></div>
  </div>

  <button name="copy code" id="varif_detail_res" class=" not-prose copy">
    <div class="skeleton" style="width:5ch; font-variant-numeric: tabular-nums;"></div>
  </button>

</div>

<div id="varif_hint" class="hint" style="height:var(--size-sm3);" ></div>
<div id="varif_copy_hint" class="hint" style="height:var(--size-sm3);"></div>

</div>

<script>

import { pass } from '../logic/pass';
import { showToast } from '../logic/misc'
  
document.getElementById("varification")!.addEventListener("input",(e)=>{
   if((e!.target as HTMLInputElement).matches("#varification-key")){
      const value = (e!.target as HTMLInputElement).value;
      pass.setVarificationKey(value.toString())
   }
   if((e!.target as HTMLInputElement).matches("#varification-key-ops")){
      const value = (e!.target as HTMLInputElement).value;
      pass.setKeyMode(value.toString())
   }
});


function clear(){
    document.getElementById("varif_detail_res")!.textContent = "";
    document.getElementById("varif_hint")!.textContent = "";
    document.getElementById("varif_copy_hint")!.textContent = "";
}

pass.on(["otpRes","keyIvIsValid","varificationKey"], pl => {

    switch (true) {
        case (pass.get("secretKey") === ""):
          document.getElementById("varif_detail")!.textContent = ""
          clear()
          break;
 
        case (pass.get("secretKey") !== pass.get("varificationKey") && (!pass.get("keyIvIsValid") || pass.get("secretKey") === "Invalid Credentials")):
          document.getElementById("varif_detail")!.textContent = pass.get("secretKey");
          clear()
          break;
 
        case (pass.get("otpRes") === "The provided key is not valid."):
          document.getElementById("varif_detail")!.textContent = pass.get("otpRes");
          clear()
          break;
 
        default:
          document.getElementById("varif_detail")!.textContent = "Varification Code:";
          document.getElementById("varif_detail_res")!.textContent = pass.get("otpRes");
          document.getElementById("varif_hint")!.textContent = `This code is valid for the next ${pass.get("countDown")} seconds.`;
          document.getElementById("varif_copy_hint")!.textContent = "Tap to copy";
   }
});

pass.on(["countDown"], ({value}) =>{
    if (document.getElementById("varif_detail")!.textContent === "Varification Code:"){
        document.getElementById("varif_hint")!.textContent = `This code is valid for the next ${pass.get("countDown")} seconds.`;
    }
})

document.getElementById("varification")!.addEventListener("click", (e) => {
   if (
      (e!.target as HTMLInputElement).matches("#varif_detail ,#varif_detail_res, #varif_copy_hint",) &&
      document.getElementById("varif_detail_res")!.textContent !== ""
   ) {
      navigator.clipboard.writeText(pass.get("otpRes"));
      showToast();
   }
});

</script>