---
interface Props {
	varification_detail: string;
	varification_detail_result: string;
	varification_hint: string;
	varification_copy: string;	
}

const { varification_detail, varification_detail_result, varification_hint, varification_copy } = Astro.props;
---

<div style="
display: flex;
margin-top: var(--gap-x04);
position: relative;
justify-content: space-between;
align-items: center;
gap: var(--gap);">

  <div id={varification_detail} style="
  	line-height: var(--gap-x05);
    font-weight: 300;
    font-size:var(--big-font);">
    <div class="skeleton" style="width:10ch"></div>
  </div>

  <button id={varification_detail_result} class=" not-prose copy">
    <div class="skeleton" style="width:5ch"></div>
  </button>

</div>

<div id={varification_hint} class="hint" style=" font-variant-numeric: tabular-nums;">
  <div class="skeleton" style="width:20ch;"></div>
</div>

<div id={varification_copy} class="hint">
  <div class="skeleton" style="width:8ch;"></div>
</div>