---
import BottomNav from '../components/BottomNav.astro';
import '../styles/reset.css'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="gives you the tools to create secure passwords and encrypt them with AES without relying on anyone else" />
    <meta name="color-scheme" content="dark light" />
    <meta name="theme-color" content="#090909" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="#f8f8f8" media="(prefers-color-scheme: light)">
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="KeyPass" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <link rel="icon" href="/favicon.png" />
    <link rel="manifest" href="/manifest.json" />

    <link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="splashscreens/iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_landscape.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="splashscreens/iPhone_15_Pro__iPhone_15__iPhone_14_Pro_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="splashscreens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_landscape.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="splashscreens/iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_landscape.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="splashscreens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_landscape.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="splashscreens/iPhone_11_Pro_Max__iPhone_XS_Max_landscape.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="splashscreens/iPhone_11__iPhone_XR_landscape.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="splashscreens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_landscape.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="splashscreens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_landscape.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="splashscreens/4__iPhone_SE__iPod_touch_5th_generation_and_later_landscape.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="splashscreens/12.9__iPad_Pro_landscape.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="splashscreens/11__iPad_Pro__10.5__iPad_Pro_landscape.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="splashscreens/10.9__iPad_Air_landscape.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="splashscreens/10.5__iPad_Air_landscape.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="splashscreens/10.2__iPad_landscape.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="splashscreens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_landscape.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="splashscreens/8.3__iPad_Mini_landscape.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="splashscreens/iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_portrait.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="splashscreens/iPhone_15_Pro__iPhone_15__iPhone_14_Pro_portrait.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="splashscreens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_portrait.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="splashscreens/iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_portrait.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="splashscreens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_portrait.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="splashscreens/iPhone_11_Pro_Max__iPhone_XS_Max_portrait.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="splashscreens/iPhone_11__iPhone_XR_portrait.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="splashscreens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_portrait.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="splashscreens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_portrait.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="splashscreens/4__iPhone_SE__iPod_touch_5th_generation_and_later_portrait.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="splashscreens/12.9__iPad_Pro_portrait.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="splashscreens/11__iPad_Pro__10.5__iPad_Pro_portrait.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="splashscreens/10.9__iPad_Air_portrait.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="splashscreens/10.5__iPad_Air_portrait.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="splashscreens/10.2__iPad_portrait.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="splashscreens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_portrait.png" />
    <link rel="apple-touch-startup-image" media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="splashscreens/8.3__iPad_Mini_portrait.png" />



    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline > if (typeof navigator.serviceWorker !== 'undefined') {navigator.serviceWorker.register('sw.js')}</script>

	</head>
  
  <body style="background: var(--bg-canv);
  border: .1px solid #0000;
  min-height: 100vh;
  transition: color .2s ease-out">

    <BottomNav/>

    <slot/>

    <div id="toast" class="toast glass">
      <span class="gg-check-o"/>
      <span>&nbsp Copied</span>
    </div>

</body>


</html>

<style is:global>

:root {

  --x02: 1.27;
  --x03: 1.61;
  --x04: 2.04;
  --x05: 2.60;
  --x06: 3.30;
  --x07: 4.20;
  --x08: 5.32;
  --x09: 6.76;
  --x10: 8.60;

  --regular-font: 100%;
  --big-font: calc(var(--regular-font) * var(--x02));
  --small-font: calc(var(--regular-font) / var(--x02));
  --extra-small-font: calc(var(--small-font) / var(--x02));


  --gap: 1ch;
  --gap-x03: calc(var(--gap) * var(--x03));
  --gap-x04: calc(var(--gap) * var(--x04));
  --gap-x05: calc(var(--gap) * var(--x05));
  --gap-x06: calc(var(--gap) * var(--x06));
  --gap-x08: calc(var(--gap) * var(--x08));
  --gap-x10: calc(var(--gap) * var(--x10));


  --default-padding: calc( var(--gap-x03) / 2) calc( var(--gap-x03));
  --medium-padding: calc(var(--gap)  / 2) calc(var(--gap));
  --thin-padding: 0.1ch 1ch;


  --radiu-a: 0.85ch;
  --radiu-b: 2.1ch;
  --radus-c: 2.5ch;

  --z-layer-top: 4;
  --z-layer-higher: 3;
  --z-layer-middle: 2;


  font-family: system-ui;
  line-height: var(--gap-x05);
  font-size: 100%;


  --primary: oklch(65% 0.142 268.67);
  --primery-transparent: oklch(69% 0.185 268.67 / 0.72);
  --secondary: oklch(62% 0.152 273.00);
  --card-bg-color: linear-gradient(110deg, 
    oklch(60% 0.16 265) 0%, 
    oklch(66% 0.145 268) 25%,
    oklch(63% 0.15 270) 65%,  
    oklch(60% 0.16 271) 100%);
  --drop-shadow: 0 0 5px oklch(65% 0.14152 268.67 / 0.7);
  --light-reflection: oklch(100% 0 0/ 0.25);
  --success: oklch(65% 0.12 174);  
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent
}

*,
:after,
:before {
  box-sizing: border-box;
}

html,
body {
  color: oklch(var(--gray-fore-100) / 1);
}

input,
button,
label,
textarea{
  font-family: system-ui;
}


input{
  accent-color: var(--primary);
}

textarea{
  background-color: transparent; 
  font-size: var(--regular-font);
  font-family: inherit;
  width: 100%;
  padding: var(--default-padding);
  display: inline-block;
  border: 1px solid transparent;
  border-radius: var(--radiu-a);
  resize: vertical;
  border-bottom: 1px solid var(--primary);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: oklch(var(--gray-fore-100) / 1);
}


textarea:focus {
  border: 1px solid var(--primary);
  border-radius: var(--radiu-a);
  outline: none;
}

a {
  text-decoration: none; 
  height: 25px;
  margin:10px var(--gap-x08); 
  margin: 100px;
}



.glass {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px)
}

.reflection{
  border: 0.2px solid oklch(84% 0.078 273/ 0.6);
  box-shadow: inset 0.6px 0.6px 0px 0px oklch(84% 0.078 273/ 0.6), 
                    1px   2px   2px 0px oklch(0% 0 0 / 0.1) ;
}

.dent-shadow {
  box-shadow: inset 0px 2px 5px oklch(0% 0 0 / 0.2) , 
                    0px 2px 2px oklch(100% 0 0 / 0.1) , 
                    0px 0px 1px 0.5px oklch(100% 0 0 / 0.1) ;
}

.flex{
  display: flex;
  position: relative;
  justify-content: space-between;
  gap: var(--gap);
}

.hide-checkbox{
  opacity: 0; 
  pointer-events: none;
  position: absolute
}

.skeleton{
   font-size: inherit;
   font-family: inherit;
   height: 1.5ch;
   width: 30ch;
   margin: calc( (var(--gap-x05) - 1.5ch) / 2 ) 0;
   border-radius: 4ch;
   background-color: oklch(80% 0 0 / 0.4);
   background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, .5) 50%,
    rgba(255, 255, 255, 0) 60%
  ) oklch(0.8 0 0 / 0.4);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;

}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.skeleton-parrent{
  line-height: var(--gap-x05); 
  overflow: hidden;
}

.unstyle-button{
  background: none;
  border: none;
  box-shadow: none;
  color:oklch(var(--gray-fore-100) / 1);
  cursor: pointer;
}

.card-bg{
  font-size: var(--regular-font);
  height: calc( (var(--gap-x06) * var(--x02)) + (var(--gap-x04) * 2 ) );
  width: 100%  ;
  position: absolute; 
  margin: calc( var(--gap-x04) * -1) calc( var(--gap-x04) * -1);
  background: var(--card-bg-color);
}


.input {
  font-size: var(--regular-font);
  padding: var(--default-padding);
  width: 100%;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: var(--radiu-a);
  border-bottom: 1px solid var(--primary);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: oklch(var(--gray-fore-100) / 1);
  background-color: oklch(var(--gray-back-100) / 0.5);
}

.input:focus {
  border: 1px solid var(--primary);
  border-radius: var(--radiu-a);
  background-color:oklch(var(--gray-back-100) / 1); 
  outline: none;
}


button.disabled , label.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  box-shadow: 1px 2.5px 0px var(--dark-shadow-disabled) ;
}

button.disabled::before , label.disabled::before ,
button.disabled:active::before , label.disabled:active::before{
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1; 
  background-color: transparent;
}


.toast {
 display: flex;
 position: fixed; 
 background-color: oklch(var(--gray-back-100) / 0.5);
 border-radius: var(--radiu-b);
 border: 1px solid  oklch(var(--gray-back-70) / 1);
 bottom: -100%;
 width: 200px; 
 left: calc(50% - 100px ); 
 align-items: center;
 justify-content: center;
 padding: var(--default-padding);
 box-sizing: border-box;
 transition: bottom 0.15s ease-out;  
 z-index: var(--z-layer-higher);
 color: var(--success);
 margin-bottom: var(--gap-x04);
}

.gg-check-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(0.7);
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 100px

}

.gg-check-o::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: -1px;
  width: 6px;
  height: 10px;
  border-color: currentColor;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg)
}



#theme-toggle:before {
  color:oklch(var(--gray-fore-100) / 1);
  content: 'Change Theme: ☀️';
  display: block;
  width: 20ch; 
}

:root:has(#theme-toggle:checked) #theme-toggle:before {
  content: 'Change Theme: 🌙'; 
}

@media (prefers-color-scheme:light) {

  #theme-toggle:before {
    color:oklch(var(--gray-fore-100) / 1);
    content: 'Change Theme: 🌙';
    display: block;
    width: 20ch;
  }

  :root:has(#theme-toggle:checked) #theme-toggle:before {
    content: 'Change Theme: ☀️'; 
  }

}

:root{

  --gray-fore-100-dark:100% 0 0 ;
  --gray-fore-100-light:0% 0 0 ;

  --gray-back-100-dark:0% 0 0 ;
  --gray-back-100-light:100% 0 0 ;

  --gray-back-70-dark:35% 0 0 ;
  --gray-back-70-light:85% 0 0 ;

  --gray-back-90-dark:22% 0 0 ;
  --gray-back-90-light:95% 0 0 ;

  --bg-canv-dark: linear-gradient(135deg, oklch(15% 0 0) 0%, oklch(18% 0 0) 35%, oklch(12% 0 0) 100%);
  --bg-canv-light: linear-gradient(135deg, oklch(98% 0 0) 0%, oklch(91% 0 0) 35%, oklch(89% 0 0) 100%);

  --tab-bg-dark: linear-gradient(290deg, oklch(8.5% 0 0 / 0.5) 0%, oklch(8.5% 0 0 / 0.4) 65%, oklch(8.5% 0 0 / 0.35) 100%);
  --tab-bg-light: linear-gradient(290deg, oklch(100% 0 0 / 0.35) 0%, oklch(100% 0 0 / 0.4) 65%, oklch(100% 0 0 / 0.5) 100%);

  --glow-dark: oklch(85% 0 0);
  --glow-light:oklch(100% 0 0);

  --dark-shadow-dark: oklch(32% 0.2 268.67);
  --dark-shadow-light: oklch(50% 0.22 268.67);

  --dark-shadow-disabled-dark: oklch(27% 0.16 268.67);
  --dark-shadow-disabled-light: oklch(62% 0.18 268.67);

  --border-dark: linear-gradient(135deg, oklch(28% 0 0) 0%, oklch(40% 0 0) 25%, oklch(32% 0 0) 100%);
  --border-light: linear-gradient(135deg, oklch(95% 0 0) 0%, oklch(100% 0 0) 25%, oklch(97% 0 0) 100%);

}


:root{
  color-scheme: only dark;
  --gray-fore-100:var(--gray-fore-100-dark) ;
  --gray-back-100:var(--gray-back-100-dark) ;
  --gray-back-70:var(--gray-back-70-dark) ;
  --gray-back-90:var(--gray-back-90-dark) ;
  --bg-canv: var(--bg-canv-dark) ;
  --tab-bg: var(--tab-bg-dark);
  --glow: var(--glow-dark);
  --dark-shadow: var(--dark-shadow-dark);
  --dark-shadow-disabled: var(--dark-shadow-disabled-dark);
  --border: var(--border-dark);
}

:root:has(#theme-toggle:checked) {
  color-scheme: only light;
  --gray-fore-100:var(--gray-fore-100-light) ;
  --gray-back-100:var(--gray-back-100-light) ;
  --gray-back-70:var(--gray-back-70-light) ;
  --gray-back-90:var(--gray-back-90-light) ;
  --bg-canv:var(--bg-canv-light) ;
  --tab-bg:var(--tab-bg-light);
  --glow:var(--glow-light);
  --dark-shadow: var(--dark-shadow-light);
  --dark-shadow-disabled: var(--dark-shadow-disabled-light);
  --border: var(--border-light);
}



@media (prefers-color-scheme:light) {

  :root{
    color-scheme: only light;
  --gray-fore-100:var(--gray-fore-100-light) ;
  --gray-back-100:var(--gray-back-100-light) ;
  --gray-back-70:var(--gray-back-70-light) ;
  --gray-back-90:var(--gray-back-90-light) ;
  --bg-canv:var(--bg-canv-light) ;
  --tab-bg:var(--tab-bg-light);
  --glow:var(--glow-light);
  --dark-shadow: var(--dark-shadow-light);
  --dark-shadow-disabled: var(--dark-shadow-disabled-light);
  --border: var(--border-light);
  }

  :root:has(#theme-toggle:checked) {
    color-scheme: only dark;
  --gray-fore-100:var(--gray-fore-100-dark) ;
  --gray-back-100:var(--gray-back-100-dark) ;
  --gray-back-70:var(--gray-back-70-dark) ;
  --gray-back-90:var(--gray-back-90-dark) ;
  --bg-canv: var(--bg-canv-dark) ;
  --tab-bg: var(--tab-bg-dark);
  --glow: var(--glow-dark);
  --dark-shadow: var(--dark-shadow-dark);
  --dark-shadow-disabled: var(--dark-shadow-disabled-dark);
  --border: var(--border-dark);
  }

}



</style>