.drawer {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  max-width: none;
  height: 100dvh;
  inset: 0;
  background: transparent;
  overflow: hidden;
/*   transition:
    opacity 1150ms ease,
    overlay 1150ms allow-discrete,
    display 1150ms allow-discrete; */
}

/* .drawer:not(:popover-open) { opacity: 0; } */

.track {
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overscroll-behavior-y: contain;
  scrollbar-width: none;
}

.track::-webkit-scrollbar { display: none; }

.dismissSnap {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.dismissZone {
  flex: 1;
  width: 100%;
  border: 0;
  background: transparent;
  cursor: default;
}

.openSnap {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.openDismissZone {
  flex: 1;
  width: 100%;
  border: 0;
  background: transparent;
  cursor: default;
}

.sheet {
  height: min(90dvh, 700px);
  background: oklch(var(--gray-10));
  border-top-left-radius: var(--radius-l);
  border-top-right-radius:var(--radius-l);
  animation: sheetEnter 500ms var(--move) both;
  --subtle-shadow-opacity: 0.75;
}

/* .drawer:not(:popover-open) .sheet { animation: none; } */

@keyframes sheetEnter {
  from { transform: translateY(100%); }
  to   { transform: translateY(0); }
}


.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  border-top-left-radius: var(--radius-l);
  border-top-right-radius: var(--radius-l);
  margin-top: calc(var(--size-xs1) * -1);
}

.closeButton {
  border: 0;
  background: transparent;
  cursor: pointer;
  font: inherit;
}

.content {
  align-items: center;
  gap: var(--size-sm3);
  padding-top: var(--size-lg2);
  padding-inline: var(--size-sm1);
  flex-direction: column;
  display: flex;
  position: absolute;
  inset: 0;
  overflow: hidden scroll;;
}


.drawer[data-dir-rtl] .track {
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  overscroll-behavior-y: auto;
  overscroll-behavior-x: contain;
  display: flex;
}

.drawer[data-dir-rtl] .dismissSnap {
  width: 100dvw;
  height: 100%;
  flex-shrink: 0;
  flex-direction: row;
}

.drawer[data-dir-rtl] .dismissZone {
  height: 100%;
}

.drawer[data-dir-rtl] .openSnap {
  min-width: 100dvw;
  min-height: unset;
  height: 100%;
  flex-shrink: 0;
  flex-direction: row;
}

.drawer[data-dir-rtl] .openDismissZone {
  height: 100%;
}

.drawer[data-dir-rtl] .sheet {
  height: 100%;
  width: 100dvw;
  box-shadow:
    -20px 0 60px rgb(0 0 0 / 0.5),
    -2px  0 12px rgb(0 0 0 / 0.2);
  animation-name: sheetEnterRtl;
}

.drawer[data-dir-rtl] .handle {
  width: 5px;
  height: 44px;
  margin: auto 12px;
}

@keyframes sheetEnterRtl {
  from { transform: translateX(100%); }
  to   { transform: translateX(0); }
}
