.popover {
  overscroll-behavior: contain;
  background: none;
  padding: 0;
  position: fixed;
  position-area: bottom;
  position-try-fallbacks:
    flip-block,
    flip-inline,
    flip-block flip-inline;
  min-width: anchor-size(width);
  transform-origin: top center;
}