.row {
  position: relative;
  flex: 1;
  --sum-width: var(--size-sm2);
}

.swipe { 
  --gap: 0;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  container-type: inline-size;
  scrollbar-width: none;
}
.swipe::-webkit-scrollbar {
  display: none;
}

.swipe > .main {
  scroll-snap-align: start;
}
.swipe > .details {
  scroll-snap-align: end;
}

.main {
  width: calc(100cqw - var(--sum-width));
  --gap: 0;
  border-radius: calc( var(--radius-s) + var(--size-xs1));
  transition: background-color .3s var(--appear);
}


.summary {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: var(--size-sm2);
  cursor: pointer;
  user-select: none;
}
.summary::-webkit-details-marker {
  display: none;
}
.summary::marker {
  content: '';
}